<h1>Editing Private Lesson Account Information</h1>

<div id="accountform">
  <%= render 'form' %>
  <%= link_to 'Show', @private_lesson_detail %> |
  <%= link_to 'Back', private_lesson_details_path %>
</div>
