<%= provide(:title, 'My Availability') %>

<div ng-app='digiquatics'>
  <div ng-controller='AvailabilityCtrl as controller'>
    <h1>My Availability</h1>
    <div class='userform well'>
      <div class='row'>
        <label class='col-sm-offset-5 col-sm-2'>Start Time</label>
        <label class='col-sm-2'>End Time</label>
      </div>
      <dq-availability class='row' days='days'></dq-availability>
    </div>
    </div>
  </div>
</div>
