<% provide(:title, 'Dashboard') %>
<div class='jumbotron well hidden-xs'>
<h1 class='cross_platform_header'>DigiQuatics Dashboard</h1>
<center>
  <h3>
    To get started, click a link above! <br/><br>
    OR </br><br>
    If you have question please see our
    instructions page <a href='/instructions'>here!</a>
  </h3>
</center>
</div>
<div class='visible-xs'>
  <center>
    <h4>DigiQuatics Dashboard</h4>
  </center>

  <br>
  <% if FeatureToggleHelper.chemicals? %>
    <%= link_to 'New Chemical Record', new_chemical_record_path,
        class: 'btn btn-primary btn-block', role: 'button' %>
  <% end %>

  <br>

  <%= link_to 'New Maintenance Issue', new_help_desk_path,
      class: 'btn btn-primary btn-block', role: 'button' %>

  <br>

  <%= link_to 'New Shift Report', new_shift_report_path,
      class: 'btn btn-primary btn-block', role: 'button' %>

  <br>

  <%= link_to 'New Slide Inspection', new_slide_inspection_path,
      class: 'btn btn-primary btn-block', role: 'button' %>

</div>

