<% provide(:title, 'Dashboard') %>
<div class='jumbotron well hidden-xs'>
<h1 class='cross_platform_header'>DigiQuatics Dashboard</h1>
</div>
<div class='visible-xs'>
  <center>
    <h4>DigiQuatics Dashboard</h4>
  </center>
  <br>
   <% if current_user.chemical_records_access? || current_user.admin? %>
    <%= link_to 'New Chemical Record', new_chemical_record_path,
        class: 'btn btn-primary btn-block', role: 'button' %>
  <% end %>
  <br>
  <%= link_to 'New Maintenance Issue', new_help_desk_path,
      class: 'btn btn-primary btn-block', role: 'button' %>
  <br>
  <%= link_to 'New Shift Report', new_shift_report_path,
      class: 'btn btn-primary btn-block', role: 'button' %>
  <br>
  <%= link_to 'New Slide Inspection', new_slide_inspection_path,
      class: 'btn btn-primary btn-block', role: 'button' %>
</div>
