<div class="jumbotron">
<h1>Aquatics App</h1>
<p> We truely appreciate your continued support and feedback while we embark on a mission to enrich the lives of aquatics supervisors - Michael and Josh
</div>

<h4> If you have any questions or concerns about this beta application please contact us at: support@affektive.com </h4>