<div class="center hero-unit">
<h1>Aquatics App</h1>
<p>
  This is the dashboard for the meantime. 
  <br>
  This button should be moved to the manage accounts page once it is in place.  
  <br>
<%= link_to "Add User", signup_path, class: "btn btn-medium btn-primary" %>
</p>
</div>

