<!DOCTYPE html>
<html>
  <head>
    <title>DigiQuatics</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <style>
      html {background: url(images/swiming_lap_pool.jpg) no-repeat center center fixed; }
    </style>
  </head>
  <body id='landing'>

    <div class='hidden-xs'>
      <div id='fixed-div'>
        <%= link_to(' Sign Up', new_user_path,
                    class: 'btn btn-primary btn-danger') %>
        <%= link_to(' Sign In', new_user_session_path,
                    class: 'btn btn-default') %>
      </div>

      <br><br>

      <div class='container'>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3 panel panel-default'>
              <center>
                <h1 class='margin-base-vertical' id='h1_landing'>  DigiQuatics</h1>
                <h4> All-in-One Solution for Aquatics Management </h4>
              </center>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-cloud'></span>
                Cloud-based Data Management
              </p>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-phone'></span>
                Cross-Platform Access 24/7: Desktop, Phone, Tablet
              </p>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-user'></span>
                Organize Employee Information
              </p>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-th-list'></span>
                Manage Employee Certifications
              </p>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-list-alt'></span>
                Data Management: Attendance, Chemical, and Maintenance
              </p>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-globe'></span>
                Online Private Lessons Portal
              </p>
              <p class='adjust-info'>
                <span class='glyphicon glyphicon-th'></span>
                Simple and Dynamic Staff Scheduling Platform
              </p>
              <center>
                <br>
                <h4>
                  For more information email us at:
                  <a href='mailto:mipierce@mines.edu?Subject=More%20Information%20Needed'target='_top'>
                    mipierce@mines.edu
                  </a>
                </h4>
              </center>
              <div class='margin-base-vertical'>
                  <center>
                  <small class='text-muted'>Copyright &#169;
                    2013-2014 Affektive Software Limited. All Rights Reserved.
                  </small>
              </center>
              </div>
            </div><!-- //main content -->
          </div><!-- //row -->
      </div> <!-- //container -->
    </div>

    <div class='visible-xs'>
      <div class='container'>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3 panel panel-default'>

              <center>
                <h1 class='margin-base-vertical'>  DigiQuatics</h1>
                <h4> All-in-One Solution for Aquatics Management </h4>
                <a class = 'btn btn-primary btn-default' href='/users/sign_in'> Sign In</a>
              </center>

              <div class='margin-base-vertical'>
                  <center>
                  <small class='text-muted'>Copyright &#169;
                    2013-2014 Affektive Software Limited. All Rights Reserved.
                  </small>
              </center>
              </div>
            </div><!-- //main content -->
          </div><!-- //row -->
      </div> <!-- //container -->
    </div>
  </body>
</html>
