<% provide(:title, 'Manage Private Lessons') %>
<h1>Manage Private Lessons</h1>
<p>
  This is a stubbed out page to configure private lessons. It needs to be moved to the private lessons controller.
</p>