<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label" for="notification1">Notification 1</label>
    <input id="notification1" type="checkbox">
  </div>
  <div class="form-group">
    <label class="control-label" for="notification2">Notification 2</label>
    <input id="notification2" type="checkbox">
  </div>
</form>