<div class="row">
  <div class="userform">
    <%= bootstrap_form_for :session, :url => signin_path do |f| %>
      <legend>Sign In</legend>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.primary "Sign in" %>
    <% end %>
  </div>
</div>