<div class='userform well'>
  <a class='pull-right close-button link-color' ng-click='cancel()'>
    <i class='fa fa-times fa-lg'></i></a>
  <h1 id='availability_form'>
    {{availability ? ' Edit' : ' Add'}} Availability
  </h1>
  <center>
    <p>{{days[day]}}</p>
    <div class='row'>
      <div class='col-md-6'>
        <h4> Start Time </h4>
        <div class='fix_ampm_button'>
          <timepicker ng-model='startTime' ng-change='changed()' hour-step='1' minute-step='15'>
            {{startTime}}
          </timepicker>
        </div>
      </div>
      <div class='col-md-6'>
        <h4> End Time </h4>
        <div class='fix_ampm_button'>
          <timepicker ng-model='endTime' ng-change='changed()' hour-step='1' minute-step='15'>
            {{endTime}}
          </timepicker>
        </div>
      </div>
    </div>
  </center>
  <div ng-show='availability'>
    <a class='btn btn-primary btn-block' ng-click='ok(startTime, endTime)'>
      <i class="fa fa-refresh fa-lg"></i> {{'Update Availability'}}</a>
    <a class='btn btn-danger btn-block' ng-click='delete()'>
      <i class="fa fa-trash-o fa-lg"></i> {{'Delete'}}</a>
  </div>
  <div ng-hide='availability'>
    <a class='btn btn-primary btn-block' ng-click='ok(startTime, endTime)'>
      <i class="fa fa-check fa-lg"></i> {{'Submit Availability'}}</a>
  </div>
</div>
