<div ng-show='(adminPrivateLessons | orderBy:order.value:order.reverse | filter:locationFilter | filter:search).length'>
  <table class='table'>
    <thead>
      <tr>
        <th>
          <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
          Instructor
          </a>
          <span ng-show="thArrow(predicate.value, '-user.last_name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>Instructor Phone</th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-parent_last_name'; reverse=!reverse">
          Parent
          </a>
          <span ng-show="thArrow(predicate.value, '-parent_last_name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>Parent Phone</th>
        <th>Student</th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-location.name'; reverse=!reverse">
          Location
          </a>
          <span ng-show="thArrow(predicate.value, '-location.name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-created_at'; reverse=!reverse">
          Submitted
          </a>
          <span ng-show="thArrow(predicate.value, '-created_at')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a href="" ng-click="predicate.value = '-claimed_on'; reverse=!reverse">
          Claimed
          </a>
          <span ng-show="thArrow(predicate.value, '-claimed_on')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='lesson in adminPrivateLessons
        | orderBy:predicate.value:reverse
        | filter:locationFilter
        | filter:search
        | limitTo:totalDisplayed'>
        <td>
            <a ng-href='/users/{{lesson.user.id}}'>
              {{lesson.user.last_name}}, {{lesson.user.first_name}}
            </a>
        </td>
        <td class='hidden-xs'>
          <a ng-href='tel:{{lesson.user.phone_number}}'>
            {{lesson.user.phone_number}}
          </a>
        </td>
        <td class='hidden-xs'>
          {{lesson.parent_last_name}}, {{lesson.parent_first_name}}
        </td>
        <td class='hidden-xs'>
          <a ng-href='tel:{{lesson.phone_number}}'>
            {{lesson.phone_number}}
          </a>
        </td>
        <td>
          <div ng-repeat='participant in lesson.participants'>
            <a ng-href='/private_lessons/{{lesson.id}}'>
              {{participant.last_name}}, {{participant.first_name}} <br/>
            </a>
          </div>
        </td>
        <td class='hidden-xs'>{{lesson.location.name}}</td>
        <td class='hidden-xs'>
          {{lesson.created_at | date:'M/d/yy h:mm a'}}
        </td>
        <td>
          {{lesson.claimed_on | date:'M/d/yy h:mm a'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-show='(adminPrivateLessons | orderBy:order.value:order.reverse | filter:locationFilter | filter:search).length'>
  <center>
    <btn class='btn btn-default load-more-width' ng-click='loadMore()'>Load Additional Records</btn>
  </center>
</div>
<div ng-hide='(adminPrivateLessons | orderBy:order.value:order.reverse | filter:locationFilter | filter:search).length'>
  <hr/>
  <center>
    <p>
      No private lessons match this search or none are claimed at this time.
        <%= link_to ' Click here to view the private lesson queue.',
            account_private_lessons_path(account_id: current_user.account_id) %>
    </p>
  </center>
</div>

