<div ng-show='(closedAdminPrivateLessons | orderBy:order.value:order.reverse | filter:locationFilter | filter:search).length'>
  <table class='table table-hover' >
    <thead>
      <tr>
        <th>
          <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
          Instructor</a>
        </th>
        <th class='hidden-xs'>Instructor Phone</th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-parent_last_name'; reverse=!reverse">
          Parent</a>
        </th>
        <th class='hidden-xs'>Parent Phone</th>
        <th>Student</th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-location.name'; reverse=!reverse">
          Location</a>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-created_at'; reverse=!reverse">
          Submitted</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = '-claimed_on'; reverse=!reverse">
          Claimed</a>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-completed_on'; reverse=!reverse">
          Completed</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='lesson in closedAdminPrivateLessons | orderBy:predicate.value:reverse | filter:locationFilter | filter:search'>
        <td>
            <a ng-href='/users/{{lesson.user.id}}'>
              {{lesson.user.last_name}}, {{lesson.user.first_name}}
            </a>
        </td>
        <td class='hidden-xs'>
          <a ng-href='tel:{{lesson.user.phone_number}}'>
            {{lesson.user.phone_number}}
          </a>
        </td>
        <td class='hidden-xs'>
          {{lesson.parent_last_name}}, {{lesson.parent_first_name}}
        </td>
        <td class='hidden-xs'>
          <a ng-href='tel:{{lesson.phone_number}}'>
            {{lesson.phone_number}}
          </a>
        </td>
        <td>
          <div ng-repeat='participant in lesson.participants'>
            <a ng-href='/private_lessons/{{lesson.id}}'>
              {{participant.last_name}}, {{participant.first_name}} <br/>
            </a>
          </div>
        </td>
        <td class='hidden-xs'>{{lesson.location.name}}</td>
        <td class='hidden-xs'>
          {{lesson.created_at | date:'M/d/yy h:mm a'}}
        </td>
        <td>
          {{lesson.claimed_on | date:'M/d/yy h:mm a'}}
        </td>
        <td class='hidden-xs'>
          {{lesson.completed_on | date:'M/d/yy h:mm a'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-hide='(closedAdminPrivateLessons | orderBy:order.value:order.reverse | filter:locationFilter | filter:search).length'>
  <hr>
  <center>
    <p>
      No private lessons match this search or none are completed at this time.
        <%= link_to ' Click here to view the open private lessons mangement page.',
            admin_index_path %>
    </p>
  </center>
</div>
