<div ng-show='(myPrivateLessons
              | orderBy:order.value:order.reverse
              | filter:locationFilter
              | filter:search).length' class='shadow-effect'>
  <table class='table table-clean table-white' >
    <thead>
      <tr>
        <th>Student</th>
        <th>Age</th>
        <th class='hidden-xs'>Gender</th>
        <th>
          <a href="" ng-click="predicate.value = '-location.name'; reverse=!reverse">
          Location
          </a>
          <span ng-show="thArrow(predicate.value, '-location.name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-claimed_on'; reverse=!reverse">
          Claimed
          </a>
          <span ng-show="thArrow(predicate.value, '-claimed_on')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-completed_on'; reverse=!reverse">
          Completed
          </a>
          <span ng-show="thArrow(predicate.value, '-completed_on')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='lesson in myPrivateLessons
                    | orderBy:predicate.value:reverse
                    | filter:locationFilter
                    | filter:search'>
        <td>
          <div ng-repeat='participant in lesson.participants'>
              {{participant.last_name}}, {{participant.first_name}} <br/>
          </div>
        </td>
        <td>
          <div ng-repeat='participant in lesson.participants'>
            {{participant.age}}
          </div>
        </td>
        <td class='hidden-xs'>
          <div ng-repeat='participant in lesson.participants'>
            {{participant.sex}}
          </div>
        </td>
        <td>{{lesson.location.name}}</td>
        <td class='hidden-xs'>
          {{lesson.claimed_on | date:'M/d/yy @ h:mma'}}
        </td>
        <td class='hidden-xs'>
          {{lesson.completed_on | date:'M/d/yy @ h:mma'}}
        </td>
        <td>
          <%= link_to '/private_lessons/{{lesson.id}}' do %>
            <i class='fa fa-external-link fa-lg'></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-hide='(myPrivateLessons
              | orderBy:order.value:order.reverse
              | filter:locationFilter
              | filter:search).length'>
  <hr>
  <center>
    <p>
      No private lessons match this search or you have none yet.
        <%= link_to ' Click here to view the private lesson queue.',
            account_private_lessons_path(account_id: current_user.account_id) %>
    </p>
  </center>
</div>
