<table class='table table-hover table-condensed' >
  <thead>
    <tr>
      <th>
        <a href="" ng-click="predicate.value = 'participants.last_name'; reverse=!reverse">
        Last Name</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'participantsfirst_name'; reverse=!reverse">
        First Name</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'participants.age'; reverse=!reverse">
        Age</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'participants.sex'; reverse=!reverse">
        Sex</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'day'; reverse=!reverse">
        Day</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'time'; reverse=!reverse">
        Time</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'preferred_location'; reverse=!reverse">
        Location</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'created_at'; reverse=!reverse">
        Date</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='lesson in privateLessons | orderBy:predicate.value:reverse | filter:locationFilter | filter:search'>
      <td>
        <div ng-repeat='participant in lesson.participants'>
          <a ng-href='#'>
            {{participant.last_name}} <br/>
          </a>
        </div>
      </td>
      <td>
        <div ng-repeat='participant in lesson.participants'>
          {{participant.first_name}} <br/>
        </div>
      </td>
      <td>
        <div ng-repeat='participant in lesson.participants'>
          {{participant.age}}
        </div>
      </td>
      <td>
        <div ng-repeat='participant in lesson.participants'>
          {{participant.sex}}
        </div>
      </td>
      <td>{{lesson.day}}</td>
      <td>{{lesson.time}}</td>
      <td class='hidden-xs'>{{lesson.location.name}}</td>
      <td>{{lesson.created_at | date:'M/d/yy h:mm a'}}</td>
    </tr>
  </tbody>
</table>
