<table class='table table-hover table-condensed' >
  <thead>
    <tr>
      <th>
        <a href="" ng-click="predicate.value = 'participants.last_name'; reverse=!reverse">
        Last Name</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'participantsfirst_name'; reverse=!reverse">
        First Name</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'participants.age'; reverse=!reverse">
        Age</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'participants.sex'; reverse=!reverse">
        Sex</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'day'; reverse=!reverse">
        Day</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'time'; reverse=!reverse">
        Time</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = ''; reverse=!reverse">
        Location</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = 'created_at'; reverse=!reverse">
        Date</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='lesson in lessons | orderBy:predicate.value:reverse | filter:locationFilter | filter:search'>
      <td>
        <a ng-href='#'>
          {{lesson.participants.last_name}}
        </a>
      </td>
      <td>{{lesson.participants.first_name}}</td>
      <td>{{lesson.participants.age}}</td>
      <td>{{lesson.participants.sex}}</td>
      <td>{{lesson.day}}</td>
      <td>{{lesson.time}}</td>
      <td></td>
      <td>{{lesson.created_at}}</td>
    </tr>
  </tbody>
</table>

