<div ng-app='digiquatics'>
  <div ng-controller='AdminPrivateLessonsCtrl'>
    <% provide(:title, 'Open Private Lessons') %>
    <h1 class='cross_platform_header'>Open Private Lessons Mangement</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <dq-location></dq-location>
      <div class='col-md-2'></div>
      <div class='col-md-5 pull-right'>
        <div class='btn-group'>
          <%if current_user.admin? %>
          <%= link_to 'New Private Lesson',
            new_account_private_lesson_path(account_id: current_account.id),
              class: 'btn btn-primary btn-sm',
              role: 'button' %>
            <%= link_to 'Completed',
                completed_admin_index_path,
              class: 'btn btn-danger btn-sm', role: 'button' %>
            <%= link_to 'Queue',
                account_private_lessons_path(account_id: current_user.account_id),
              class: 'btn btn-warning btn-sm', role: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'admin_private_lessons' %>
  </div>
</div>
