<div ng-app='digiquatics'>
  <div ng-controller='AdminPrivateLessonsCtrl'>
    <% provide(:title, 'Private Lessons Mangement') %>
    <h1 class='cross_platform_header'>Private Lessons Mangement</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <dq-location></dq-location>
      <div class='col-md-3'></div>
      <div class='col-md-4 pull-right'>
        <div class='btn-group'>
          <%= link_to 'New Private Lesson',
            new_account_private_lesson_path(account_id: current_account.id),
              class: 'btn btn-primary btn-sm',
              role: 'button' %>
          <%if current_user.admin? %>
            <%= link_to 'Queue',
                account_private_lessons_path(account_id: current_user.account_id),
              class: 'btn btn-success btn-sm', role: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'admin_private_lessons' %>
  </div>
</div>
