<% provide(:title, 'Private Lessons Queue') %>
<h1>Private Lessons Queue</h1>

<ul class = "pull-right">
  <%= link_to "New Private Lesson", new_private_lesson_path,
    class: "btn btn-primary btn-sm" %>
</ul>

<ul class = "pull-right">
	<%= link_to "Export CSV", private_lessons_path(format: "csv"),
		class: "btn btn-warning btn-sm" %>
</ul>

<%if current_user.admin? %>
  <ul class = "pull-right">
    <%= link_to "Manage Private Lessons", admin_index_path,
      class: "btn btn-danger btn-sm" %>
  </ul>
<% else %>
<% end %>

<br><br><br>

<%= render 'private_lessons' %>
