<% provide(:title, 'Private Lessons') %>
<h1>Private Lessons</h1>

<ul class = "pull-right">
  <%= link_to "New Private Lesson", new_private_lesson_path, 
    class: "btn btn-primary btn-sm" %>
</ul>

<ul class = "pull-right">
  <%= link_to "Statistics", "#", class: "btn btn-success btn-sm" %>
</ul>

<br><br><br>

<%= render 'private_lessons' %>