<div ng-app='digiquatics'>
  <div ng-controller='PrivateLessonsCtrl'>
    <% provide(:title, 'Private Lessons Queue') %>
    <h1>Private Lessons Queue</h1>
    <br><br>
    <div class='row'>
      <div class='col-md-2'>
        <div class="input-group">
          <input class="form-control" ng-model="search" type='text'placeholder="Search"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
      </div>
      <div class='col-md-3'>
        <select ng-model='locationFilter' class='form-control'>
          <option value=''>All Locations</option>
          <option ng-repeat='location in locations' value='{{location.name}}'>{{location.name}}</option>
        </select>
      </div>
      <div class='col-md-3'></div>
      <div class='col-md-4'>
        <div class='btn-group'>
          <%= link_to 'New Private Lesson',
            new_account_private_lesson_path(account_id: current_account.id),
              class: 'btn btn-primary btn-sm',
              role: 'button' %>
          <%if current_user.admin? %>
            <%= link_to 'Private Lessons Mangement', admin_index_path,
              class: 'btn btn-success btn-sm', role: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'private_lessons' %>
  </div>
</div>
