<% provide(:title, 'Private Lessons Queue') %>
<h1>Private Lessons Queue</h1>

<div class='row'>

  <div class='col-md-8'></div>

  <div class='col-md-4'>
    <br><br>
    <div class='btn-group'>
      <%= link_to 'New Private Lesson', new_private_lesson_path,
        class: 'btn btn-primary btn-sm', role: 'button' %>
      <%if current_user.admin? %>
        <%= link_to 'Manage Private Lessons', admin_index_path,
          class: 'btn btn-success btn-sm', role: 'button' %>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= render 'private_lessons' %>
