<div ng-app='digiquatics'>
  <div ng-controller='MyPrivateLessonsCtrl'>
    <% provide(:title, 'My Lessons') %>
    <h1 class='cross_platform_header'>My Lessons</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <dq-location></dq-location>
      <div class='col-md-5'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group'>
          <%if current_user.admin? %>
            <%= link_to 'Queue',
            account_private_lessons_path(account_id: current_user.account_id),
              class: 'btn btn-success btn-sm', role: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'my_lessons' %>
  </div>
</div>
