<% provide(:title, 'Lesson Request') %>
<center><h1>City of Lakewood</h1></center>
<%= render partial: 'form', locals: {
  legend: 'Lesson Request',
  resources: [@private_lesson.account, @private_lesson]
} %>




