<% provide(:title, 'Lesson Request') %>
<br><br>
<% if signed_in? %>
  <h1><%= "#{Account.find(@private_lesson.account).name} Lesson Request" %></h1>
  <div class='userform well shadow-effect'>
    <%= render partial: 'form', locals: {resources: [@private_lesson.account, @private_lesson]} %>
  </div>
<% end %>
<% unless signed_in? %>
  <h1><%= "#{Account.find(@private_lesson.account).name} Lesson Request" %></h1>
  <div class='userform box'>
    <%= render partial: 'form', locals: {resources: [@private_lesson.account, @private_lesson]} %>
  </div>
<% end %>
