<div ng-app='digiquatics' class='table-responsive'>
  <table ng-controller='ShiftReportsCtrl' class='table table-hover table-condensed' >
    <thead>
      <tr>
        <th>Location</th>
        <th>
          <a href="" ng-click="predicate.value = 'date_stamp'; reverse=!reverse">
          Date</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'user.last_name'; reverse=!reverse">
          Last Name</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'user.first_name'; reverse=!reverse">
          First Name</a>
        </th>

        <th>
          <a href="" ng-click="predicate.value = 'report_filed'; reverse=!reverse">
          Report Filed</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='report in shiftReports | orderBy:predicate.value:reverse | filter:locationFilter | filter:search'>
        <td>{{report.location.name}}</td>
        <td>
          <a ng-href='/shift_reports/{{report.id}}'>
            {{report.date_stamp}}
          </a>
        </td>
        <td>{{report.user.last_name}}</td>
        <td>{{report.user.first_name}}</td>
        <td>{{report.report_filed | booleanToWords}}</td>
      </tr>
    </tbody>
  </table>
</div>
