<% provide(:title, 'Edit Shift Report') %>
<div class='hidden-xs'><h1> Edit Shift Report </h1></div>
<div class='visible-xs'><center><h4> Edit Shift Report </h4></center></div>
<%= render partial: 'form' %>
