<% provide(:title, 'Shift Reports') %>
<h1>Shift Reports</h1>

<ul class = "pull-right">
  <%= link_to "New Report", new_shift_report_path, class: "btn btn-primary btn-sm" %>
</ul>

<ul class = "pull-right">
  <%= link_to "Export CSV", "#" , class: "btn btn-warning btn-sm" %>
</ul>

<br><br><br>

<%= render 'shift_reports' %>
