<% provide(:title, 'New Shift Report') %>
<div class='hidden-xs'><h1> New Shift Report </h1></div>
<div class='visible-xs'><center><h4> New Shift Report </h4></center></div>
<%= render partial: 'form' %>
