<%= form_for(@certification_name) do |f| %>
  <% @certification_name.account_id = current_user.account_id %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
