<% provide(:title, 'Manage Certifications') %>
<h1>Manage Certifications</h1>

<div id="certificationnamesedit">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certification_names.each do |certification_name| %>
      <tr>
        <td><%= certification_name.name %></td>
        <td><%= link_to 'Edit', edit_certification_name_path(certification_name) %></td>
        <td><%= link_to 'Delete', certification_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

   <%= link_to 'Add', new_certification_name_path %>

</div>