<table class='table table-hover'>
  <thead>
    <tr>
      <th>
        <a href="" ng-click="predicate.value = ''; reverse=!reverse">
          Position
        </a>
        <span ng-show="thArrow(predicate.value, '')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-starts_at'; reverse=!reverse">
          Shift Date
        </a>
        <span ng-show="thArrow(predicate.value, '-starts_at')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-starts_at'; reverse=!reverse">
          Shift Time
        </a>
        <span ng-show="thArrow(predicate.value, '-starts_at')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
          Requested By
        </a>
        <span ng-show="thArrow(predicate.value, '-user.last_name')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
          Employee Sub
        </a>
        <span ng-show="thArrow(predicate.value, '-user.last_name')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-starts_at'; reverse=!reverse">
          Status
        </a>
        <span ng-show="thArrow(predicate.value, '-starts_at')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-starts_at'; reverse=!reverse">
          Processed
        </a>
        <span ng-show="thArrow(predicate.value, '-starts_at')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
          Processed By
        </a>
        <span ng-show="thArrow(predicate.value, '-user.last_name')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='request in mySubRequests | orderBy:predicate.value:reverse | filter:locationFilter | filter:search'>
      <td>{{request.shift.position.name}}</td>
      <td>{{request.shift.start_time | date:'M/d/yy'}}</td>
      <td>{{request.shift.start_time | date:'h:mm'}}-{{request.shift.end_time | date:'h:mm a'}}</td>
      <td>
        <a ng-href='/users/{{request.shift.user.id}}'>
          {{request.shift.user.last_name}}, {{request.shift.user.first_name}}
        </a>
      </td>
      <td>
        <a ng-href='/users/{{request.sub_user_id.id}}'>
          {{request.sub_last_name}}, {{request.sub_first_name}}
        </a>
      </td>
      <td ng-class='cssClass(request)'>
        {{request.approved | booleanToWordsTimeOff}}
      </td>
      <td>{{request.processed_on | date:'M/d/yy'}}</td>
      <td>
        <a ng-href='/users/{{request.processed_by_user_id}}'>
          {{request.processed_by_last_name}}, {{request.processed_by_first_name}}
        </a>
      </td>

      <td>
        <a ng-href='/sub_requests/{{request.id}}'>
          View Request
        </a>
      </td>
    </tr>
  </tbody>
</table>
