<div ng-app='digiquatics'>
  <div ng-controller='AdminSubRequestsCtrl'>
    <% provide(:title, 'Admin Sub Requests') %>
    <h1 class='cross_platform_header'>Sub Request Management</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-4'></div>
      <div class='col-md-3 pull-right'>
        <div class='btn-group'>
          <%= link_to 'View Pending', sub_requests_path,
                      class: 'btn btn-success btn-sm' %>
          <%= link_to 'View Processed', processed_sub_requests_path,
                      class: 'btn btn-warning btn-sm' %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'admin_index' %>
  </div>
</div>
