<div ng-app='digiquatics'>
  <div ng-controller='AdminSubRequestsCtrl'>
    <% provide(:title, 'Admin Sub Requests') %>
    <h1 class='cross_platform_header'>Sub Request Management</h1>
    <div class='row'>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-3'></div>
      <div class='col-md-4 pull-right'>
        <div class='pull-right'>
          <%= link_to sub_requests_path,
              class:'btn btn-success' do %>
            <i class='fa fa-list fa-lg'></i> Queue
          <% end %>
          <%= link_to processed_sub_requests_path,
              class:'btn btn-warning' do %>
            <i class='fa fa-history fa-lg'></i> View Processed
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'admin_index' %>
  </div>
</div>
