<div ng-app='digiquatics'>
  <div ng-controller='SubRequestsCtrl'>
    <% provide(:title, 'Sub Requests') %>
    <h1 class='cross_platform_header'>Sub Requests</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <dq-location></dq-location>
      <div class='col-md-5'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group'>
          <%= link_to 'View Processed', processed_sub_requests_path,
                      class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'sub_requests' %>
  </div>
</div>
