<div ng-app='digiquatics'>
  <div ng-controller='MySubRequestsCtrl'>
    <% provide(:title, 'My Sub Requests') %>
    <h1 class='cross_platform_header'>My Sub Requests</h1>
    <div class='row'>
      <div class='visible-xs'><br></div>
      <div class='col-md-10'></div>
      <div class='col-md-2'>
        <div class='pull-right pull-right'>
          <%= link_to sub_requests_path,
              class:'btn btn-sm btn-success' do %>
            <i class='fa fa-list fa-lg'></i> Queue
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'my_sub_requests' %>
  </div>
</div>
