<div ng-app='digiquatics'>
  <div ng-controller='ProcessedSubRequestsCtrl'>
    <% provide(:title, 'Processed Sub Requests') %>
    <h1 class='cross_platform_header'>Processed Sub Requests</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-4'></div>
      <div class='col-md-3 pull-right pull-right'>
        <div class='btn-group pull-right'>
          <%= link_to sub_requests_path,
              class:'btn btn-sm btn-success' do %>
            <i class='fa fa-list fa-lg'></i> Queue
          <% end %>
          <%= link_to admin_sub_requests_path,
              class:'btn btn-sm btn-danger' do %>
            <i class='fa fa-cogs fa-lg'></i> Management
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'processed' %>
  </div>
</div>
