<div class='box-position'>
  <center>
    <img src='/images/water.png' alt='red' height='100px' width='100px'/>
    <br><br>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(@user,
      style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
      <center><h4>Sign Up</h4></center><hr>
      <%= render 'shared/required' %>
      <div id='basic'><%= render 'sign_up_user_fields', f: f %></div>
      <center>
        <%= f.submit 'Create Your Account', class: 'devise-button' %>
      </center>
    <% end %>
    <div class='visible-xs'>
      <br>
      <center>
        <p style='color: #C0C0C0'>&#169;2013-2014 Affektive Limited</p>
      </center>
    </div>
  </div>
</div>
