<div ng-app='digiquatics' class='table-responsive'>
  <table ng-controller='UsersCtrl' class='table table-hover table-condensed' >
    <thead>
      <tr>
        <th>
          <a href="" ng-click="predicate.value = 'last_name'; reverse=!reverse">
          Last Name</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'first_name'; reverse=!reverse">
          First Name</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'date_of_birth'; reverse=!reverse">
          Age</a>
        </th>
        <th>Location</th>
        <th>
          <a href="" ng-click="predicate.value = 'position.name'; reverse=!reverse">
          Position</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'phone_number'; reverse=!reverse">
          Phone</a>
        </th>
        <% if signed_in? && current_user.admin? %>
          <th>
            <a href="" ng-click="predicate.value = 'email'; reverse=!reverse">
            Email</a>
          </th>
        <% end %>
        <% if signed_in? && current_user.admin? %>
          <th>
            <a href="" ng-click="predicate.value = 'admin'; reverse=!reverse">
            Admin</a>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='user in users | orderBy:predicate.value:reverse | filter:locationFilter | filter:search'>
        <td>
          <% if signed_in? && current_user.admin? %>
            <a ng-href='/users/{{user.id}}'>
              {{user.last_name}}
            </a>
          <% else %>
            {{user.last_name}}
          <% end %>
        </td>
        <td>{{user.first_name}}</td>
        <td>{{user.date_of_birth | age}}</td>
        <td>{{user.location.name}}</td>
        <td>{{user.position.name}}</td>
        <td><a ng-href='tel:{{user.phone_number}}'>{{user.phone_number}}</td>
        <% if signed_in? && current_user.admin? %>
        <td>
          <%= mail_to '{{user.email}}' %>
        </td>
        <td>
          {{user.admin | booleanToWords}}
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

