<% provide(:title, 'Certifications') %>
<h1>Certifications</h1>

<table class="table table-hover">
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email Address</th>
  <th>Phone Number</th>
  <th>Certification 1</th>
  <th>Notes</th>
  <%= render @users %>
</table>