<div ng-app='digiquatics'>
  <div ng-controller='LocationsCtrl'>
    <% provide(:title, 'Inactive Employees') %>
    <h1 class='cross_platform_header'>Inactive Employees</h1>
    <div class='row'>
      <dq-search></dq-search>
      <%= render 'layouts/location_select' %>
      <div class='visible-xs'><br></div>
      <div class='col-md-3'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group pull-right'>
          <%= link_to(users_path,
              class:'btn btn-sm btn-danger') do %>
            <i class='fa fa-cogs fa-lg'></i> Manage Active
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'inactive_users' %>
  </div>
</div>
