<div ng-app='digiquatics'>
  <div ng-controller='UsersCtrl'>
    <% provide(:title, 'Active Employees') %>
    <div class='hidden-xs'><h1>Active Employees</h1> <br><br></div>
    <div class='visible-xs'><center><h4>Contact List</h4></center></div>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-3'>
        <select ng-model='locationFilter' class='form-control'>
          <option value=''>All Locations</option>
          <option ng-repeat='location in locations' value='{{location.name}}'>
            {{location.name}}
          </option>
        </select>
      </div>
      <div class='col-md-3'></div>
      <div class='col-md-4'>
        <% if signed_in? && current_user.admin? %>
          <div class='btn-group hidden-xs'>
            <%= link_to 'Manage Inactive', inactive_index_path,
                        class: 'btn btn-danger btn-sm', role: 'button' %>
            <%= link_to 'Add Employee', new_user_path,
                        class: 'btn btn-primary btn-sm', role: 'button' %>
            <%= link_to 'Statistics', user_stats_path,
                        class: 'btn btn-success btn-sm', role: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <dq-user-table></dq-user-table>
  </div>
</div>
