<% provide(:title, 'Forgot Your Password?') %>

<div class='box-position'>
  <center>
    <img src='/images/water.png' alt='red' height='100px' width='100px'/>
    <br><br>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource,
                           :as => resource_name,
                           :url => password_path(resource_name),
                           :html => { :method => :post },
                           style: :horizontal,
                           left: 'col-sm-4',
                           right: 'col-sm-8') do |f| %>
      <center><h4>Forgot Your Password?</h4></center><hr>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :autofocus => true %>
      <%= f.submit 'Reset', class: 'btn btn-block btn-primary' %>
    <% end %>
    <div class='visible-xs'>
      <br>
      <center>
        <p style='color: #C0C0C0'>&#169;2013-2014 Affektive Limited</p>
      </center>
    </div>
  </div>
</div>
