<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= "Dear #{@private_lesson.parent_first_name}, " %></p>

    <p> Thank you for your recent private lesson request, one of our approved
        instructor will be contacting you soon via your preferred contact
        method.
    <br><br>

  </body>
</html>


