<div ng-controller='SubRequestsCtrl'>
  <div class='hidden-xs visible-sm visible-md visible-lg visible-print'>
    <table class='table table-bordered table-white print-schedule-font'>
      <thead>
        <tr>
          <th class='schedule_day_header' ng-repeat='day in days'>
            <h4>{{weekDay($index).format('ddd')}}</h4>
            <h2>{{weekDay($index).format('D')}}</h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='user in myShifts | orderBy:predicate.value:reverse'>
          <td ng-repeat='day in days'>
            <div ng-if="sameDayTimeOff(time_off, days.indexOf(day))"
                 ng-repeat='time_off in user.time_off_requests'>
              <%= render 'shifts/week_views/my_time_off' %>
            </div>
          </td>
        </tr>

        <tr ng-repeat='user in myShifts | orderBy:predicate.value:reverse'>
          <td class='my_schedule' ng-repeat='day in days'>
            <div ng-if="sameDay(shift.start_time, days.indexOf(day))"
                 ng-repeat="shift in user.shifts">
                <%= render 'shifts/week_views/my_shift' %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='visible-xs hidden-print'>
    <table class='table table-bordered table-white shadow-effect'
           ng-repeat='day in days'>
      <thead>
        <tr>
          <th class='my_schedule_header'>
            {{weekDay($index).format('ddd, MMM D')}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='user in myShifts | orderBy:predicate.value:reverse'>
          <td>
            <div ng-if='sameDayTimeOff(time_off, days.indexOf(day))'
                 ng-repeat='time_off in user.time_off_requests'>
              <%= render 'shifts/week_views/my_time_off_mobile' %>
            </div>
          </td>
        </tr>
        <tr ng-repeat='user in myShifts | orderBy:predicate.value:reverse'>
          <td>
            <div ng-if="sameDay(shift.start_time, days.indexOf(day))"
                 ng-repeat="shift in user.shifts">
                <%= render 'shifts/week_views/my_shift_mobile' %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
