<progressbar class='progress fix-schedule-time-bar my_time_off_bar'
             value='100'
             type='danger'>
  <div ng-if="time_off.all_day">
    Time Off <br>
    All Day
  </div>
  <div ng-hide="time_off.all_day">
    Time Off <br>
    {{time_off.starts_at | date:'h:mm'}}-{{time_off.ends_at | date:'h:mma'}}
  </div>
</progressbar>
