<progressbar class='progress fix-schedule-time-bar'
             value='100' type='danger'>
  <div ng-if="time_off.all_day">
    Time Off
  </div>
  <div ng-hide="time_off.all_day">
    {{time_off.starts_at | date:'h:mm'}}-{{time_off.ends_at | date:'h:mma'}}
  </div>
</progressbar>
