<div id='shift-assigner-popover'></div>
<div class='shadow-effect'>
  <table class='table table-bordered table-white print-schedule-font'>
    <thead>
      <tr>
        <th id='schedule_info_column'>
        </th>
        <th class='schedule_day_header' ng-repeat='day in days'>
          <h4>{{weekDay(days.indexOf(day)).format('ddd')}}</h4>
          <h2>{{weekDay(days.indexOf(day)).format('D')}}</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                     filter:locationFilter | filter:positionFilter'>
        <td>
          {{user.last_name}}, </br>
          {{user.first_name}}
          <div class='hidden-print'>
            <br<i class='fa fa-clock-o'></i>
            {{calculateHours(user)}}
            <br><i class='fa fa-child'></i></i>
            <!-- Private Lesson Counter -->
          </div>
        </td>

        <td ng-repeat='day in days'>
          <div ng-if='buildMode'>
            <div ng-if='sameDayTimeOff(time_off, days.indexOf(day))'
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>
            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: days.indexOf(day) }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>
          <div ng-if='sameDay(shift.start_time, days.indexOf(day))'
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>
          <div ng-if='buildMode'>
            <div class='shift'
              ng-click='open(user, days.indexOf(day))'
              data-hover='Assign Shift'>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
