<a class='pull-right close-button link-color' ng-click='cancel()'>
  <i class='fa fa-times fa-lg'></i></a>
<div class='modal-header'>
  <h1 class='modal-title'>{{shift ? ' Edit' : ' Assign'}} Shift</h1>
  <center><p>{{user.last_name}}, {{user.first_name}}</p></center>
</div>

<div class='modal-body'>
  <center>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-4'>
        <h4> Start Time </h4>
        <div class='fix_ampm_button'>
          <timepicker ng-model='startTime' ng-change='changed()'
                      hour-step='1' minute-step='15'>
           {{startTime}}
          </timepicker>
        </div>
      </div>
      <div class='col-md-4'>
        <h4> End Time </h4>
        <div class='fix_ampm_button'>
          <timepicker ng-model='endTime' ng-change='changed()'
                      hour-step='1' minute-step='15'>
           {{endTime}}
          </timepicker>
        </div>
      </div>
      <div class='col-md-2'></div>
    </div>
  </center>
  <h4>Position</h4>
  <select class='form-control'
          ng-model='positionSelect'
          ng-options='position.id as position.name for position in positions'>
  </select>

  <input type='checkbox' ng-model='$parent.recurring'/>
  <span class='u-repeat-label'><b>Repeat...</b></span>

  <div ng-show='$parent.recurring'>
    <div class='row'>
      <div class='col-md-3'>
        <h4>Repeat On</h4>
      </div>
      <div class='col-md-9 pull-left'>
        <div id='u-modal-checkbox-positions'>
          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>S</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[0].checked'/>
          </div>

          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>M</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[1].checked'/>
          </div>

          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>T</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[2].checked'/>
          </div>

          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>W</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[3].checked'/>
          </div>

          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>T</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[4].checked'/>
          </div>

          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>F</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[5].checked'/>
          </div>

          <div class='u-modal-checkbox' id='u-slide-inspections-checkbox-fix'>
            <span class='u-checkbox-label'><b>S</b></span>
            <input type='checkbox' ng-model='$parent.daysChecked[6].checked'/>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <h4>For This Week And The Next </h4>
      </div>
      <div class='col-md-6'>
        <div id='u-modal-selecbox'>
          <select class='form-control' ng-model='$parent.occurences'
                  ng-options="n for n in range"></select>
        </div>
      </div>
    </div>
  </div>
<div>

<div class='modal-footer'>
  <div ng-show='shift'>
    <a class='btn btn-primary btn-block'
       ng-click='ok(positionSelect, startTime, endTime)'>
      <i class='fa fa-refresh fa-lg'></i> {{'Update Shift'}}</a>
    <a class='btn btn-danger btn-block'
       ng-click='delete()'>
      <i class='fa fa-trash-o fa-lg'></i> {{'Delete Shift'}}</a>
  </div>
  <div ng-hide='shift'>
    <a class='btn btn-primary btn-block'
       ng-click='ok(positionSelect, startTime, endTime)'>
      <i class='fa fa-check fa-lg'></i> {{'Assign Shift'}}</a>
  </div>
</div>

<style>
#u-slide-inspections-checkbox-fix input[type=checkbox]{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding-left: 25px;
  }
.u-modal-label {
    float: left;
}
.u-modal-checkbox {
    float: left;
    width: 50px;
}
.u-checkbox-label {
  position: relative;
  left: 10px;
  top: 21px;
}

.u-repeat-label {
  position: relative;
  left: 20px;
  bottom: 19px;
}

#u-modal-checkbox-positions {
  position: relative;
  right: 25px;
  bottom: 5px;
}

#u-modal-selecbox {
  position: relative;
  right: 30px;
  top: 10px;
}
</style>
