<div ng-repeat="shift in shifts | orderBy:'start_time' | filter:{dayIndex: days.indexOf(dayName)}">
  <div class='edit_shift' ng-if='userIsAdmin'>
    <progressbar ng-click='open(user, dayName, shift)'
                 class='progress fix-schedule-time-bar shift'
                 value='100' type='primary'>
      {{startEndTimes(shift)}}<br/>
      {{shift.position.name}}
    </progressbar>
  </div>
  <div ng-if='!userIsAdmin'>
    <progressbar class='progress fix-schedule-time-bar shift'
                 value='100' type='primary'>
      {{startEndTimes(shift)}}<br/>
      {{shift.position.name}}
    </progressbar>
  </div>
</div>
