<a class='pull-right close-button link-color' ng-click='cancel()'>
  <i class='fa fa-times fa-lg'></i></a>
<div class='modal-header'>
  <h1 class='modal-title'>{{shift ? ' Edit' : ' Assign'}} Shift</h1>
  <center><p>{{user.last_name}}, {{user.first_name}}</p></center>
</div>

<div class='modal-body'>
  <center>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-4'>
        <h4> Start Time </h4>
        <div class='fix_ampm_button'>
          <timepicker ng-model='startTime' ng-change='changed()'
                      hour-step='1' minute-step='15'>
           {{startTime}}
          </timepicker>
        </div>
      </div>
      <div class='col-md-4'>
        <h4> End Time </h4>
        <div class='fix_ampm_button'>
          <timepicker ng-model='endTime' ng-change='changed()'
                      hour-step='1' minute-step='15'>
           {{endTime}}
          </timepicker>
        </div>
      </div>
      <div class='col-md-2'></div>
    </div>
  </center>
  <h4>Position</h4>
  <select class='form-control'
          ng-model='positionSelect'
          ng-options='position.id as position.name for position in positions'>
  </select>
  Repeat...<input type='checkbox' ng-model='recurring'/>
  <div ng-if='recurring'>
    <input type='checkbox' ng-model='$parent.daysChecked[0].checked'/>S
    <input type='checkbox' ng-model='$parent.daysChecked[1].checked'/>M
    <input type='checkbox' ng-model='$parent.daysChecked[2].checked'/>T
    <input type='checkbox' ng-model='$parent.daysChecked[3].checked'/>W
    <input type='checkbox' ng-model='$parent.daysChecked[4].checked'/>R
    <input type='checkbox' ng-model='$parent.daysChecked[5].checked'/>F
    <input type='checkbox' ng-model='$parent.daysChecked[6].checked'/>S
    <h4>For</h4>
    <select class='form-control' ng-model='$parent.occurences'
            ng-options="n for n in range"></select>
    <h4>Weeks</h4>
  </div>
</div>

<div class='modal-footer'>
  <div ng-show='shift'>
    <a class='btn btn-primary btn-block'
       ng-click='ok(positionSelect, startTime, endTime)'>
      <i class='fa fa-refresh fa-lg'></i> {{'Update Shift'}}</a>
    <a class='btn btn-danger btn-block'
       ng-click='delete()'>
      <i class='fa fa-trash-o fa-lg'></i> {{'Delete Shift'}}</a>
  </div>
  <div ng-hide='shift'>
    <a class='btn btn-primary btn-block'
       ng-click='ok(positionSelect, startTime, endTime)'>
      <i class='fa fa-check fa-lg'></i> {{'Assign Shift'}}</a>
  </div>
</div>
