<div ng-app='digiquatics'>
  <div ng-controller='ShiftsCtrl'>
    <% provide(:title, 'Scheduler') %>
    <h1 class='cross_platform_header'>Schedule {{displayStartDate()}} - {{displayEndDate(6)}} </h1>
    <div class='row'>
      <div class='visible-xs'><br></div>
      <dq-location></dq-location>
      <dq-position><dq-position>
      <div class='col-md-2 pull-right'>
        <% if signed_in? && current_user.admin? %>
          <div class='btn-group hidden-xs'>
            <%= link_to 'Day View', '#',
                        class: 'btn btn-primary btn-sm', role: 'button' %>
            <%= link_to 'Week View','#',
                        class: 'btn btn-danger btn-sm', role: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-1'>
        <btn class='btn btn-default' ng-click='resetWeekCounter()'> Today </btn>
      </div>
      <div class='col-md-2'>
        <div class='btn-group'>
          <btn class='btn btn-default' ng-click='previousWeek()' style='width: 40px;'> < </btn>
          <btn class='btn btn-default' ng-click='nextWeek()' style='width: 40px;'> > </btn>
        </div>
      </div>
      <div class='col-md-9'></div>
    </div>
    <br>
    <%= render 'index' %>
  </div>
</div>

