<div ng-app='digiquatics'>
  <div ng-controller='MyScheduleCtrl'>
    <% provide(:title, 'My Schedule') %>

    <div class='hidden-print'>
      <h1 class='cross_platform_header'>
        {{displayStartDate()}} - {{displayEndDate(6)}}
      </h1>

        <div class='row'>
          <div class='col-md-1 col-xs-3'>
            <btn class='btn btn-default btn-sm' ng-click='resetWeekCounter()'>
              <i class='fa fa-calendar-o fa-lg'></i>
              <b> Today</b>
            </btn>
          </div>
          <div class='col-md-2 col-xs-4'>
            <div class='btn-group'>
              <btn class='btn btn-default btn-sm' ng-click='previousWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
          <div class='col-md-7 col-xs-0'></div>
          <div class='col-md-2 col-xs-0'>
            <div class='pull-right hidden-xs'>
              <%= link_to_function(' Print', 'javascript:print()',
                                   class: 'btn btn-default fa fa-print fa-lg') %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class='visible-print'>
        <center>
          <h4>
            {{displayStartDate()}} - {{displayEndDate(6)}}
          </h4>
        </center>
      </div>
      <%= render 'shifts/week_views/my_schedule' %>
  </div>
</div>
