<div ng-app='digiquatics'>
  <div ng-controller='ArchivedTimeOffCtrl'>
    <% provide(:title, 'Processed Time Off Requests') %>
    <h1 class='cross_platform_header'>Processed Time Off Requests</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-3'></div>
      <div class='col-md-3 pull-right'>
        <div class='btn-group pull-right'>
          <%= link_to(new_time_off_request_path,
              class:'btn btn-sm btn-primary') do %>
            <i class='fa fa-plus fa-lg'></i> Add Request
          <% end %>
          <%= link_to(time_off_requests_path,
              class:'btn btn-sm btn-success') do %>
            <i class='fa fa-history fa-lg'></i> Queue
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'archived_time_off_requests' %>
  </div>
</div>
