<div ng-app='digiquatics'>
  <div ng-controller='TimeOffCtrl'>
    <% provide(:title, 'Time Off Requests') %>
    <div ng-init='data.user = <%= current_user.to_json %>'>
    <div ng-init='data.location = <%= current_user.location.to_json %>'>
    <h1 class='cross_platform_header'>Time Off Requests</h1>
    <div class='row'>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-2'></div>
      <div class='col-md-4 pull-right'>
        <div class='pull-right'>
          <button class='btn btn-primary' ng-click='open(true)' >
            <i class='fa fa-plus fa-lg'></i> Add Request
          </button>
          <%= link_to archived_time_off_requests_path,
              class:'btn btn-warning' do %>
            <i class='fa fa-history fa-lg'></i> View Processed
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <table ng-show='(timeOff
                    | orderBy:predicate.value:predicate.reverse
                    | filter:locationFilter
                    | filter:search
                    | filter: {active: true}).length'
           class='table table-clean table-white shadow-effect'>
      <thead>
        <tr>
          <th class='visible-xs'>
            <a ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
              Name
            </a>
            <span ng-show="thArrow(predicate.value, '-user.last_name')">
              <dq-arrow></dq-arrow>
            </span>
          </th>
          <th class='hidden-xs'>
            <a ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
              Last Name
            </a>
            <span ng-show="thArrow(predicate.value, '-user.last_name')">
              <dq-arrow></dq-arrow>
            </span>
          </th>
          <th class='hidden-xs'>
            <a ng-click="predicate.value = '-user.first_name'; reverse=!reverse">
              First Name
            </a>
            <span ng-show="thArrow(predicate.value, '-user.first_name')">
              <dq-arrow></dq-arrow>
            </span>
          </th>
          <th class='hidden-xs'>
            <a ng-click="predicate.value = '-created_at'; reverse=!reverse">
              Date Submitted
            </a>
            <span ng-show="thArrow(predicate.value, '-created_at')">
              <dq-arrow></dq-arrow>
            </span>
          </th>
          <th>
            <a ng-click="predicate.value = '-starts_at'; reverse=!reverse">
              Start Date
            </a>
            <span ng-show="thArrow(predicate.value, '-starts_at')">
              <dq-arrow></dq-arrow>
            </span>
          </th>
          <th>
            <a ng-click="predicate.value = '-ends_at'; reverse=!reverse">
              End Date
            </a>
            <span ng-show="thArrow(predicate.value, '-ends_at')">
              <dq-arrow></dq-arrow>
            </span>
          </th>
          <th class='hidden-xs'>Reason</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='request in timeOff
                      | orderBy:predicate.value:reverse
                      | filter:locationFilter
                      | filter:search
                      | filter: {active: true}'>
          <td class='visible-xs'>
            <a ng-href='/users/{{::request.user.id}}'>
              {{::request.user.last_name}}, {{::request.user.first_name}}
            </a>
          </td>
          <td class='hidden-xs'>
            <a ng-href='/users/{{::request.user.id}}'>
              {{::request.user.last_name}}
            </a>
          </td>
          <td class='hidden-xs'>{{::request.user.first_name}}</td>
          <td class='hidden-xs'>
            {{::request.created_at | date:'M/d/yy @ h:mma'}}
          </td>
          <td>
            {{::startsAt(request)}}
          </td>
          <td>
            {{::endsAt(request)}}
          </td>
          <td class='hidden-xs'>
            <div ng-if='hasReason(request)'>
              {{::request.reason | limitTo:15}}...
            </div>
          </td>
          <td>
            <div ng-click='open(true, request)'>
              <a><i class='fa fa-pencil fa-lg'></i></a>
            </div>
          </td>
          <td>
            <div ng-click='open(false, request)'>
              <a><i class='fa fa-external-link-square fa-lg'></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show='(timeOff
                  | orderBy:predicate.value:predicate.reverse
                  | filter:locationFilter
                  | filter:search
                  | filter: {active: true}).length > 10'>
      <dq-load-more></dq-load-more>
    </div>
    <div ng-hide='(timeOff
                  | orderBy:predicate.value:predicate.reverse
                  | filter:locationFilter
                  | filter:search
                  | filter: {active: true}).length'>
      <hr/>
      <center>
        <p>
          No time off requests match this search or you have none yet.
        </p>
      </center>
    </div>
  </div>
</div>
