<div ng-app='digiquatics'>
  <div ng-controller='TimeOffCtrl'>
    <% provide(:title, 'Time Off Requests') %>
    <h1 class='cross_platform_header'>Time Off Requests</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-3'></div>
      <div class='col-md-3 pull-right'>
        <div class='btn-group'>
          <%= link_to 'New Request', new_time_off_request_path,
                      class: 'btn btn-primary btn-sm' %>
          <%= link_to 'View Processed', archived_time_off_requests_path,
                      class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'time_off_requests' %>
  </div>
</div>
