{{today}}

<table class='table'>
  <thead>
    <tr>
      <th class='visible-xs'>
        <a class='pointer-hand' ng-click="predicate.value = '-lastName'; predicate.reverse = !predicate.reverse">
        Name</a>
      </th>
      <th class='hidden-xs'>
        <a class='pointer-hand' ng-click="predicate.value = '-lastName'; predicate.reverse = !predicate.reverse">
        Last Name</a>
      </th>
      <th class='hidden-xs'>
        <a class='pointer-hand' ng-click="predicate.value = '-firstName'; predicate.reverse = !predicate.reverse">
        First Name</a>
      </th>
      <th class='hidden-xs'>
        <a class='pointer-hand' ng-click="predicate.value = '-location'; predicate.reverse = !predicate.reverse">
        Location</a>
      </th>
      <th ng-repeat='certName in certificationNames'>
        <a class='pointer-hand' ng-click="predicate.value = certName.name; predicate.reverse = !predicate.reverse">
        {{certName.name}}</a>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat='user in users
                  | orderBy:predicate.value:predicate.reverse
                  | filter:locationFilter
                  | filter:search'>
      <td class='visible-xs'>
        <a ng-href='/users/{{user.id}}'>
          {{user.last_name}}, {{user.first_name}}
        </a>
      </td>
      <td class='hidden-xs'>
        <a ng-href='/users/{{user.id}}'>
          {{user.last_name}}
        </a>
      </td>
      <td class='hidden-xs'>{{user.first_name}}</td>
      <td class='hidden-xs'>{{user.location.name}}</td>
      <td ng-repeat='cert in user.certifications'>
        <div ng-class="cssClass(cert.expiration_date)">
          {{cert.expiration_date | date:'MM-dd-yyyy'}}
        </div>


        <!-- <div ng-if="cssClass(cert.expiration_date)=='before'"> Before {{cert.expiration_date | date:'MM-dd-yyyy'}}</div> -->
      </td>
    </tr>
  </tbody>
</table>

<style>
  .red {
    background-color: #F2DEDE;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: #D0E9C6;
  }

  .blue {
    background-color: blue;
  }

</style>



<!-- <div ng-hide='(users | orderBy:predicate.value:predicate.reverse | filter:locationFilter | filter:search).length'>
  <hr/>
  <center>
    <p>
      No certifications match this search or you have none yet.
      <a href='/certification_names/new'>
        Click here to add a certification.
      </a>
    </p>
  </center>
</div>
 -->
