<h1 class='cross_platform_header'>Editing Certification</h1>

<div class='field form_width'>
  <%= render 'form' %>
  <%= link_to 'Show', @certification %> |
  <%= link_to 'Back', certifications_path %>
</div>
