<% provide(:title, 'Certifications') %>
<h1>Certifications</h1>

<ul class = "pull-right">
  <%= link_to "Export CSV", certifications_path(format: "csv"), 
  	class: "btn btn-warning btn-sm" %>
</ul>

<br><br><br>

<%= render 'certifications' %>



