<% provide(:title, 'Certifications') %>
<h1>Certifications</h1>

<table>
  <thead>
    <tr>
      <th>Certification name</th>
      <th>User</th>
      <th>Expiration date</th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.certification_name_id %></td>
        <td><%= certification.user.first_name %></td>
        <td><%= certification.expiration_date.strftime('%-m/%d/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certification', new_certification_path %>
