<div ng-app='digiquatics'>
  <div ng-controller='CertificationsCtrl'>
    <% provide(:title, 'Certifications') %>
    <h1 class='cross_platform_header'>Certifications</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-7'></div>
    </div>

    <div style='font-size: 75%' class='hidden-xs'>
      <br>
        <p>
          <img src="/images/reddot.png" alt="red" height="10px" width="10px" /> = Expired
          <img src="/images/yellowdot.png" alt="yellow" height="10px" width="10px" /> = Expires within 90 days
          <img src="/images/bluedot.png" alt="blue" height="10px" width="10px" /> = Expires in 90 to 180 days
          <img src="/images/greendot.png" alt="green" height="10px" width="10px" /> = Normal
       </p>
    </div>
    <%= render 'certifications' %>
  </div>
</div>

