<div ng-app='digiquatics'>
  <div ng-controller='CertificationsCtrl'>
    <% provide(:title, 'Certifications') %>
    <h1 class='cross_platform_header'>Certifications</h1>
    <div class='row'>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-7'></div>
    </div>
    <div class='hidden-xs'>
       <span class='legendRedCell'>
         <i class='fa fa-circle fa-border'></i>
       </span> Expired
       <span class='legendYellowCell'>
         <i class='fa fa-circle fa-border'></i>
       </span> Expires within 90 days
       <span class='legendBlue'>
         <i class='fa fa-circle fa-border'></i>
       </span> Expires in 90 to 180 days
       <span class='legendGreenCell'>
         <i class='fa fa-circle fa-border'></i>
       </span> Current
    </div>
    <br>
    <%= render 'certifications' %>
  </div>
</div>
