<div ng-app='digiquatics'>
  <div ng-controller='LocationsCtrl'>
    <% provide(:title, 'Certifications') %>
    <h1>Certifications</h1>

    <div class='row'>
      <div class='col-md-2'>
        <h4>Search:</h4>
        <input ng-model='search' type='text' class='form-control'>
      </div>

      <div class='col-md-3'>
        <h4>Filter locations:</h4>
        <select ng-model='locationFilter' class='form-control'>
          <option value=''>All</option>
          <option ng-repeat='location in locations' value='{{location.name}}'>{{location.name}}</option>
        </select>
      </div>
    </div>

      <div style="font-size: 60%">
        <br>
          <p >
            <img src="/images/reddot.png" alt="red" height="10px" width="10px" /> = Expired
            <img src="/images/yellowdot.png" alt="yellow" height="10px" width="10px" /> = Expires within 90 days
            <img src="/images/greendot.png" alt="green" height="10px" width="10px" /> = Normal
         </p>
      </div>

    <%= render 'certifications' %>
  </div>
</div>

