<div ng-show='(closedHelpDesks
              | orderBy:order.value:order.reverse
              | filter:locationFilter
              | filter:search).length'>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-location.name'; reverse=!reverse">
            Location
          </a>
          <span ng-show="thArrow(predicate.value, '-location.name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a href="" ng-click="predicate.value = '-created_at'; reverse=!reverse">
            Date Opened
          </a>
          <span ng-show="thArrow(predicate.value, '-created_at')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a href="" ng-click="predicate.value = '-closed_date_time'; reverse=!reverse">
            Date Closed
          </a>
          <span ng-show="thArrow(predicate.value, '-closed_date_time')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a href="" ng-click="predicate.value = '-name'; reverse=!reverse">
            Problem
          </a>
          <span ng-show="thArrow(predicate.value, '-name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a href="" ng-click="predicate.value = '-urgency'; reverse=!reverse">
            Urgency
          </a>
          <span ng-show="thArrow(predicate.value, '-urgency')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
            Submitted By
          </a>
          <span ng-show="thArrow(predicate.value, '-user.last_name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='item in closedHelpDesks
        | orderBy:predicate.value:reverse
        | filter:locationFilter
        | filter:search
        | limitTo:totalDisplayed'>
        <td>
          <div ng-show='showPic(item)' %>
            <a ng-href='{{item.attachment_url}}'>
            <span class='glyphicon glyphicon-picture'></span>
          </div>
        </td>
        <td class='hidden-xs'>{{item.location.name}}</td>
        <td>{{item.created_at | date:'M/d/yy @ h:mma'}}</td>
        <td>{{item.closed_date_time | date:'M/d/yy @ h:mma'}}</td>
        <td>
          {{item.name}}
        </td>
        <td ng-class='cssClass(item)'>{{item.urgency}}</td>
        <td class='hidden-xs'>
          <a ng-href='/users/{{item.user.id}}'>
            {{item.user.last_name}}, {{item.user.first_name}}
          </a>
        </td>
        <td>
          <%= link_to 'View Issue', "/help_desks/{{item.id}}",
            class: 'btn btn-info btn-xs', role: 'button' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show='(closedHelpDesks
              | orderBy:order.value:order.reverse
              | filter:locationFilter
              | filter:search).length > 10'>
  <center>
    <btn class='btn btn-default load-more-width'
         ng-click='loadMore()'>
      Load More
    </btn>
  </center>
</div>
<div ng-hide='(closedHelpDesks
              | orderBy:order.value:order.reverse
              | filter:locationFilter
              | filter:search).length'>
  <hr/>
  <center>
    <p>
      No closed issues match this search or you have none yet.
        <%= link_to 'Click here to view the current open issues.',
            help_desks_path %>
    </p>
  </center>
</div>
