<div id="accountform">
  <%= bootstrap_form_for(@help_desk) do |f| %>

    <%= f.text_field :name, label: 'Description' %>
    <%= f.text_field :urgency, label: 'Urgency' %>

    <%= f.primary "Submit"%>

  <% end %>
</div>
