<div ng-app='digiquatics'>
  <div ng-controller='ClosedHelpDesksCtrl'>
    <% provide(:title, 'Closed Issues') %>
    <div class='hidden-xs'><h1>Closed Issues</h1><br><br></div>
    <div class='visible-xs'><center><h4>Closed Issues</h4></center></div>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-3'>
        <select ng-model='locationFilter' class='form-control'>
          <option value=''>All Locations</option>
          <option ng-repeat='location in locations' value='{{location.name}}'>{{location.name}}</option>
        </select>
      </div>
      <div class='col-md-5'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group'>
            <%= link_to 'View Open', help_desks_path,
            class: 'btn btn-danger btn-sm', role: 'button' %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'closed' %>
  </div>
</div>
