<div ng-app='digiquatics'>
  <div ng-controller='ClosedHelpDesksCtrl'>
    <% provide(:title, 'Closed Issues') %>
    <h1 class='cross_platform_header'>Closed Issues</h1>
    <div class='row'>
      <%= render 'layouts/location_select' %>
      <div class='visible-xs'><br></div>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-5'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group pull-right'>
          <%= link_to help_desks_path,
              class:'btn btn-sm btn-danger' do %>
            <i class='fa fa-cogs fa-lg'></i> Manage Open
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'closed' %>
  </div>
</div>
