<div ng-app='digiquatics'>
  <div ng-controller='HelpDesksCtrl'>
    <% provide(:title, 'Open Issues') %>
    <h1 class='cross_platform_header'>Open Issues</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-4'></div>
      <div class='col-md-3 pull-right'>
       <div class='btn-group pull-right'>
         <%= link_to new_help_desk_path,
             class:'btn btn-sm btn-primary' do %>
           <i class='fa fa-plus fa-lg'></i> Add Issue
         <% end %>
         <%= link_to closed_index_path,
             class:'btn btn-sm btn-danger' do %>
           <i class='fa fa-cogs fa-lg'></i> Manage Closed
         <% end %>
       </div>
      </div>
    </div>
    <div class='hidden-xs'>
      <div><i class="fa fa-star star"></i> New</div>
    </div>
    <br>
    <%= render 'help_desks' %>
  </div>
</div>
