<div ng-app='digiquatics'>
  <div ng-controller='HelpDesksCtrl'>
    <% provide(:title, 'Open Issues') %>
    <h1 class='cross_platform_header'>Open Issues</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <div class='col-md-3'>
        <select ng-model='locationFilter' class='form-control'>
          <option value=''>All Locations</option>
          <option ng-repeat='location in locations' value='{{location.name}}'>{{location.name}}</option>
        </select>
      </div>
      <div class='col-md-4'></div>
      <div class='col-md-3 pull-right'>
       <div class='btn-group'>
         <%= link_to 'New Issue', new_help_desk_path,
           class: 'btn btn-primary btn-sm', role: 'button' %>
         <%= link_to 'View Closed', closed_index_path,
           class: 'btn btn-danger btn-sm', role: 'button' %>
       </div>
      </div>
    </div>
    <br>
    <%= render 'help_desks' %>
  </div>
</div>
