<table class='table table-hover table-condensed' >
  <thead>
    <tr>
      <th>
        Slide
      </th>
      <th>
        Completed By
      </th>
      <th>
        Date
      </th>
      <th>
        All OK?
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='inspection in inspections | orderBy:predicate'>
      <td>{{inspection.slide.name}}</td>
      <td>
        <a ng-href='/users/{{user.id}}'>
          {{inspection.user.last_name}}, {{inspection.user.first_name}}
        </a>
      </td>
      <td>{{inspection.created_at}}</td>
      <td>{{user.position.name}}</td>
      <td><%= mail_to '{{user.email}}' %></td>
      <td><a ng-href='tel:{{user.phone_number}}'>{{user.phone_number}}</td>
      <td>{{user.admin | booleanToWords}}</td>
    </tr>
  </tbody>
</table>

