<table class='table table-hover table-condensed' >
  <thead>
    <tr>
      <th>
        <a href="" ng-click="predicate.value = '-slide.location.name; reverse=!reverse">
        Location</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-slide.name; reverse=!reverse">
        Slide</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-user.last_name; reverse=!reverse">
        Completed By</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-created_at; reverse=!reverse">
        Date</a>
      </th>
      <th>
        <a href="" ng-click="predicate.value = '-inspection.all_ok; reverse=!reverse">
        All OK?</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='inspection in slideInspections | orderBy:predicate.value:reverse |
                   filter:locationFilter'>
      <td>{{inspection.location.name}}</td>
      <td>{{inspection.slide.name}}</td>
      <td>
        <a ng-href='/users/{{inspection.user.id}}'>
          {{inspection.user.last_name}}, {{inspection.user.first_name}}
        </a>
      </td>
      <td>
        <a ng-href='/slide_inspections/{{inspection.id}}'>
          {{inspection.created_at | date:'M/d/yy h:mm a'}}
        </a>
      </td>
      <td style='width:70px;' ng-class='cssClass(inspection)'>
          {{inspection.all_ok | booleanToWords}}
      </td>
    </tr>
  </tbody>
</table>

