<div ng-app='digiquatics'>
  <div ng-controller='SlideInspectionsCtrl'>
    <% provide(:title, 'Slide Inspections') %>
    <h1>Slide Inspections</h1>
    <br><br>
    <div class='row'>
      <div class='col-md-10'>
        <!-- Removed Search -->
      </div>
      <div class='col-md-2'>
        <div class='btn-group'>
          <%= link_to 'New Slide Inspection', new_slide_inspection_path,
                      class: 'btn btn-primary btn-sm', role: 'button' %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'slide_inspections' %>
  </div>
</div>
