<div ng-app='digiquatics'>
  <div ng-controller='SlideInspectionsCtrl'>
    <% provide(:title, 'Slide Inspections') %>
    <h1 class='cross_platform_header'>Slide Inspections</h1>
    <div class='row'>
      <%= render 'layouts/location_select' %>
      <div class='col-md-7'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group pull-right'>
          <%= link_to new_slide_inspection_path,
              class:'btn btn-sm btn-primary' do %>
            <i class='fa fa-plus fa-lg'></i> New Inspection
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'slide_inspections' %>
  </div>
</div>
