<div ng-app='digiquatics'>
  <div ng-controller='SlideInspectionsCtrl'>
    <% provide(:title, 'Slide Inspections') %>
    <div class='hidden-xs'><h1>Slide Inspections</h1><br><br></div>
    <div class='visible-xs'><center><h4>Slide Inspections</h4></center></div>
    <div class='row'>
      <div class='col-md-3'>
        <select ng-model='slideFilter' class='form-control'>
          <option value=''>All Slides</option>
          <option ng-repeat='slide in slideInspections' value='{{slide.name}}'>
            {{slide.name}}
          </option>
        </select>
      </div>
      <div class='col-md-7'></div>
      <div class='col-md-2 pull-right'>
        <div class='btn-group'>
          <%= link_to 'New Slide Inspection', new_slide_inspection_path,
                      class: 'btn btn-primary btn-sm', role: 'button' %>
        </div>
      </div>
    </div>
    <br>
    <%= render 'slide_inspections' %>
  </div>
</div>
