<% provide(:title, 'New Slide Inspection') %>
<div class='hidden-xs'><h1> New Slide Inspection</h1></div>
<div class='visible-xs'><center><h4> New Slide Inspection </h4></center></div>
<%= render 'form' %>

