<div ng-show='(chemicalRecords
              | orderBy:order.value:order.reverse
              | filter:{pool_id: pool_id}
              | filter:{pool: {location_id: location_id}}
              | filter:search).length'>
  <table class='table'>
    <thead>
      <tr>
        <th>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = 'time_stamp'; reverse=!reverse">
            Time
          </a>
          <span ng-show="thArrow(predicate.value, 'time_stamp')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
            Submitted By
          </a>
          <span ng-show="thArrow(predicate.value, '-user.last_name')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-free_chlorine_ppm'; reverse=!reverse">
            Free Cl
          </a>
          <span ng-show="thArrow(predicate.value, '-free_chlorine_ppm')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-total_chlorine_ppm'; reverse=!reverse">
            Total Cl
          </a>
          <span ng-show="thArrow(predicate.value, '-total_chlorine_ppm')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-ph'; reverse=!reverse">
            PH
          </a>
          <span ng-show="thArrow(predicate.value, '-ph')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-alkalinity'; reverse=!reverse">
            Alk
          </a>
          <span ng-show="thArrow(predicate.value, '-alkalinity')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-calcium_hardness'; reverse=!reverse">
            CH
          </a>
          <span ng-show="thArrow(predicate.value, '-calcium_hardness')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-pool_temp'; reverse=!reverse">
            Pool(F)
          </a>
          <span ng-show="thArrow(predicate.value, '-pool_temp')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-air_temp'; reverse=!reverse">
            Air(F)
          </a>
          <span ng-show="thArrow(predicate.value, '-air_temp')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-water_clarity'; reverse=!reverse">
            Water Clarity
          </a>
          <span ng-show="thArrow(predicate.value, '-water_clarity')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th class='hidden-xs'>
          <a class='pointer-hand' href=''
             ng-click="predicate.value = '-si_index'; reverse=!reverse">
            SI Index
          </a>
          <span ng-show="thArrow(predicate.value, '-si_index')">
            <dq-arrow></dq-arrow>
          </span>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='record in chemicalRecords
        | orderBy:predicate.value:reverse
        | filter:{pool_id: pool_id}
        | filter:{pool: {location_id: location_id}}
        | limitTo:totalDisplayed'>
        <td>
          {{record.time_stamp | date:'M/d/yy @ h:mma'}}
        </td>
        <td class='hidden-xs'>
          <a ng-href='/users/{{record.user.id}}'>
            {{record.user.last_name}}, {{record.user.first_name}}
          </a>
        </td>
        <td class='hidden-xs'>{{record.free_chlorine_ppm}}</td>
        <td>{{record.total_chlorine_ppm}}</td>
        <td>{{record.ph}}</td>
        <td>{{record.alkalinity}}</td>
        <td>{{record.calcium_hardness}}</td>
        <td>{{record.pool_temp}}</td>
        <td class='hidden-xs'>{{record.air_temp}}</td>
        <td class='hidden-xs'>{{record.water_clarity}}</td>
        <td class='hidden-xs'
            ng-class='cssClass(record)'
            tooltip='{{recordClassification(record)}}'
            tooltip-append-to-body='true'>
              {{record.si_index}}
        </td>
        <td>
          <%= link_to '/chemical_records/{{record.id}}' do %>
            <i class='fa fa-external-link fa-lg'></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show='(chemicalRecords
              | orderBy:order.value:order.reverse
              | filter:{pool_id: pool_id}
              | filter:{pool: {location_id: location_id}}
              | filter:search).length > 10' >
  <dq-load-more></dq-load-more>
</div>
<div ng-hide='(chemicalRecords
              | orderBy:order.value:order.reverse
              | filter:{pool_id: pool_id}
              | filter:{pool: {location_id: location_id}}
              | filter:search).length' >
  <hr/>
  <center>
    <p>
      No chemical records match this filter or you have none yet.
        <%= link_to 'Click here to add a new record.',
            new_chemical_record_path %>
    </p>
  </center>
</div>
