<div ng-app='digiquatics' class='table-responsive'>
  <table ng-controller='ChemicalRecordsCtrl'
    class='table table-hover table-condensed' >
    <thead>
      <tr>
        <th>Location</th>
        <th>Pool</th>
        <th>Cl</th>
        <th>PH</th>
        <th>Alk</th>
        <th>CH</th>
        <th>Pool(F)</th>
        <th class='hidden-xs hidden-sm'>Air(F)</th>
        <th class='hidden-xs hidden-sm'>SI Index</th>
        <th class='hidden-xs hidden-sm'>SI Status</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='record in chemicalRecords | orderBy:sorter.value
        | filter:{pool_id: poolFilter}
        | filter:{pool: {location_id: locationFilter}}'>
        <td>{{record.pool.location.name}}</td>
        <td>{{record.pool.name}}</td>
        <td>{{record.chlorine_ppm}}</td>
        <td>{{record.ph}}</td>
        <td>{{record.alkalinity}}</td>
        <td>{{record.calcium_hardness}}</td>
        <td>{{record.pool_temp}}</td>
        <td>{{record.air_temp}}</td>
        <td>{{record.si_index}}</td>
        <td>{{record.si_status}}</td>
        <td>
          <a ng-href='/chemical_records/{{record.id}}'>
            {{record.time_stamp | formatTime}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
