<table class='table table-hover table-condensed' >
  <thead>
    <tr>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = 'free_chlorine_ppm'; reverse=!reverse">
          Free Cl
        </a>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = 'combined_chlorine_ppm'; reverse=!reverse">
          Combined Cl
        </a>
      </th>
      <th>
        <a href='' ng-click="predicate.value = 'total_chlorine_ppm'; reverse=!reverse">
          Total Cl
        </a>
      </th>
      <th>
        <a href='' ng-click="predicate.value = 'ph'; reverse=!reverse">
          PH
        </a>
      </th>
      <th>
        <a href='' ng-click="predicate.value = 'alkalinity'; reverse=!reverse">
          Alk
        </a>
      </th>
      <th>
        <a href='' ng-click="predicate.value = 'calcium_hardness'; reverse=!reverse">
          CH
        </a>
      </th>
      <th>
        <a href='' ng-click="predicate.value = 'pool_temp'; reverse=!reverse">
          Pool(F)
        </a>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = 'air_temp'; reverse=!reverse">
          Air(F)
        </a>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = 'water_clarity'; reverse=!reverse">
          Water Clarity
        </a>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = 'si_index'; reverse=!reverse">
          SI Index
        </a>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = 'si_status'; reverse=!reverse">
          SI Status
        </a>
      </th>
      <th>
        <a href='' ng-click="predicate.value = 'time_stamp'; reverse=!reverse">
          Time
        </a>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat='record in chemicalRecords | orderBy:predicate.value:reverse
      | filter:{pool_id: filters.pool_id}
      | filter:{pool: {location_id: filters.location_id}}
      | limitTo:totalDisplayed'>
      <td class='hidden-xs'>{{record.free_chlorine_ppm}}</td>
      <td class='hidden-xs'>{{record.combined_chlorine_ppm}}</td>
      <td class='hidden-xs'>{{record.free_chlorine_ppm}}</td>
      <td class='hidden-xs'>{{record.combined_chlorine_ppm}}</td>
      <td>{{record.total_chlorine_ppm}}</td>
      <td>{{record.ph}}</td>
      <td>{{record.alkalinity}}</td>
      <td>{{record.calcium_hardness}}</td>
      <td>{{record.pool_temp}}</td>
      <td class='hidden-xs'>{{record.air_temp}}</td>
      <td class='hidden-xs'>{{record.water_clarity}}</td>
      <td class='hidden-xs'>{{record.si_index}}</td>
      <td class='hidden-xs'>{{record.si_status}}</td>
      <td>
        <a ng-href='{{record.url}}'>
          {{record.time_stamp | date:'M/d/yy h:mm a'}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
<center>
  <btn class="btn btn-default" ng-click="loadMore()">Load Additional Records</btn>
</center>

