<table class='table table-hover' >
  <thead>
    <tr>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = '-free_chlorine_ppm'; reverse=!reverse">
          Free Cl
        </a>
        <span ng-show="thArrow(predicate.value, '-free_chlorine_ppm')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = '-combined_chlorine_ppm'; reverse=!reverse">
          Combined Cl
        </a>
        <span ng-show="thArrow(predicate.value, '-combined_chlorine_ppm')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href='' ng-click="predicate.value = '-total_chlorine_ppm'; reverse=!reverse">
          Total Cl
        </a>
        <span ng-show="thArrow(predicate.value, '-total_chlorine_ppm')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href='' ng-click="predicate.value = '-ph'; reverse=!reverse">
          PH
        </a>
        <span ng-show="thArrow(predicate.value, '-ph')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href='' ng-click="predicate.value = '-alkalinity'; reverse=!reverse">
          Alk
        </a>
        <span ng-show="thArrow(predicate.value, '-alkalinity')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href='' ng-click="predicate.value = '-calcium_hardness'; reverse=!reverse">
          CH
        </a>
        <span ng-show="thArrow(predicate.value, '-calcium_hardness')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href='' ng-click="predicate.value = '-pool_temp'; reverse=!reverse">
          Pool(F)
        </a>
        <span ng-show="thArrow(predicate.value, '-pool_temp')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = '-air_temp'; reverse=!reverse">
          Air(F)
        </a>
        <span ng-show="thArrow(predicate.value, '-air_temp')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = '-water_clarity'; reverse=!reverse">
          Water Clarity
        </a>
        <span ng-show="thArrow(predicate.value, '-water_clarity')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = '-si_index'; reverse=!reverse">
          SI Index
        </a>
        <span ng-show="thArrow(predicate.value, '-si_index')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th class='hidden-xs'>
        <a href='' ng-click="predicate.value = '-si_status'; reverse=!reverse">
          SI Status
        </a>
        <span ng-show="thArrow(predicate.value, '-si_status')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
      <th>
        <a href='' ng-click="predicate.value = '-time_stamp'; reverse=!reverse">
          Time
        </a>
        <span ng-show="thArrow(predicate.value, '-time_stamp')">
          <dq-arrow></dq-arrow>
        </span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat='record in chemicalRecords | orderBy:predicate.value:reverse
      | filter:{pool_id: filters.pool_id}
      | filter:{pool: {location_id: filters.location_id}}
      | limitTo:totalDisplayed'>
      <td class='hidden-xs'>{{record.free_chlorine_ppm}}</td>
      <td class='hidden-xs'>{{record.combined_chlorine_ppm}}</td>
      <td>{{record.total_chlorine_ppm}}</td>
      <td>{{record.ph}}</td>
      <td>{{record.alkalinity}}</td>
      <td>{{record.calcium_hardness}}</td>
      <td>{{record.pool_temp}}</td>
      <td class='hidden-xs'>{{record.air_temp}}</td>
      <td class='hidden-xs'>{{record.water_clarity}}</td>
      <td class='hidden-xs' ng-class='cssClass(record)'>{{record.si_index}}</td>
      <td class='hidden-xs' ng-class='cssClass(record)'>{{record.si_status}}</td>
      <td>
        <a ng-href='{{record.url}}'>
          {{record.time_stamp | date:'M/d/yy h:mm a'}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
<center>
  <btn class='btn btn-default load-more-width' ng-click='loadMore()'>Load Additional Records</btn>
</center>

