<% provide(:title, 'Edit Chemical Record') %>
<div class='hidden-xs'><h1> Edit Chemical Record </h1></div>
<div class='visible-xs'><center><h4> Edit Chemical Record </h4></center></div>
<%= render partial: 'form' %>

