<p id='notice'><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendance_record.name %>
</p>

<%= link_to 'Edit', edit_attendance_record_path(@attendance_record) %> |
<%= link_to 'Back', attendance_records_path %>
