a.pointer-hand {
  &:hover, &:active {
    cursor: pointer;
    cursor: hand;
  }
}

.star {
  color:#FED845;
}

.btn.btn-wide {
  width: 180px;
}

.btn.btn-wide {
  b: 180px;
}

.btn.btn-outline-cta1 {
  background-color: #3949AB; }
  .btn.btn-outline-cta1.btn-default {
    color: inherit;
    &:hover { background-color: #303F9F}
    }

#landing_nav_btn_fix {
  position: relative;
  top: 10px;
}

.btn.btn-outline-cta2 {
  background-color: transparent }
  .btn.btn-outline-cta2.btn-default {
    color: inherit;
    &:hover { background-color: transparent; color: #3949AB;}
    }

.nav-hoover .navbar-nav > li > a:hover {
&:hover { color: #3949AB;}
}

#landing_sign_in_link{
  padding-right: 50px;
  position: relative;
  top: 38px;
  color: white;
  text-decoration: none;

}

#pricing_table {
  background-color: #3F51B5;
  color: white;
  height: 250px;
  width: 200px;
  background: #3F51B5;
  margin-left: 20px;
  box-shadow: 2px 2px grey;
}

.pricing-sub-text{
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 30px;
}
