  #devise_html {
    overflow-y: scroll;
    position: relative;
    background-color:#ECEEF2;
  }

  #devise_body {
    height: 100%;
    width: 100%;
    padding-top: 0px;
    margin: 0 0 100px; /* bottom = footer height */
    background-color:#ECEEF2;
  }

  .header-font {
    font-size: 24px;
    font-family: 'Gill Sans Ultra Bold';
    font-weight:900;
  }

  @media (min-width: 992px) {
    .fixwidth {
      width: 375px;
      margin: 0 auto;
    }

    .box-position {
      position:absolute;
      top: 95%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  @media (max-width: 991px) {
    .fixwidth {
      width: 300px;
      margin: 0 auto;
    }

    .box-position {
      position:absolute;
      top: 33%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .box {
    background-color:#FFFFFF;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; border-radius:12px;
    border:1px solid #999;
    padding:1em;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
  }

  .devise-button {
    -moz-box-shadow:inset 0px 1px 9px 2px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 9px 2px #97c4fe;
    box-shadow:inset 0px 1px 9px 2px #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #135499), color-stop(1, #2762c2) );
    background:-moz-linear-gradient( center top, #135499 5%, #2762c2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#135499', endColorstr='#2762c2');
    background-color:#135499;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0px;
    border:1px solid #337fed;
    display:inline-block;
    color:#ffffff;

    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:200px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #1570cd;
  }

  .devise-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2762c2), color-stop(1, #135499) );
    background:-moz-linear-gradient( center top, #2762c2 5%, #135499 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2762c2', endColorstr='#135499');
    background-color:#2762c2;
  }

  .devise-button:active {
    position:relative;
    top:1px;
  }
