#devise_html {
  overflow-y: scroll;
  position: relative;
  background-color:#ECEEF2;
}

#devise_body {
  height: 100%;
  width: 100%;
  padding-top: 0px;
  margin: 0 0 100px; /* bottom = footer height */
  background-color:#ECEEF2;
}

.header-font {
  font-size: 30px;
  font-family: 'Gill Sans Ultra Bold';
  font-weight:900;
}

@media (min-width: 992px) {
  .fixwidth {
    width: 375px;
    margin: 0 auto;
  }

  .box-position {
    position:absolute;
    top: 33%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  .fixwidth {
    width: 300px;
    margin: 0 auto;
  }

  .box-position {
    position:absolute;
    top: 33%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

#private_lesson_signed_out {
  background-color: white;
}
