$lightgrey: #999;
$grayMediumLight: #eaeaea;
$yellow: #FED845;
$blueLink: #658BCA;



// Material Design Indigo
$indigo500: #3f51b5;
$indigo600: #3949AB;
$indigo700: #303f9f;



// Material Design Grey
$grey400: #BDBDBD;
$grey900: #212121;

body
{
overflow-x: hidden;
width: 100%
}

#splash_page {
  height: 525px;
  vertical-align: middle;
  background-color: $indigo500;
  color: white;
  margin-top: 0px;
  text-align: center;
}
#splash_page_other {
  height: 100px;
  vertical-align: middle;
  background-color: $indigo500;
  color: white;
  margin-top: 0px;
  text-align: center;
}
#splash_page_other_2 {
  height: 45px;
  background-color: #303F9F;
  margin: 0px;
  padding: 0px;
}
#info-header {
  font-size: 25px;
  color: $indigo500;
}

@media (min-width: 750px) {
  #overview_content {
    width: 650px;
    text-align: left;
  }

  #pricing_content {
    width: 700px;
  }

  #landing_sign_in_link{
    padding-right: 50px;
    position: relative;
    top: 38px;
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 750px) {
  .mobile_fix {
    width: 300px;
    text-align: left;
    padding: 10px;
  }
  .mobile_fix_team {
    width: 325px;
    text-align: middle;
    padding: 10px;
  }

  #pricing_content {
    width: 325px;
  }

  #landing_sign_in_link{
    padding-right: 10px;
    position: relative;
    top: 10px;
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 780px) {
  .mobile_features_text {
    width: 325px;
    text-align: middle;
    padding: 10px;
  }
}

.blue_icon {
  color: $indigo500;
}

#benefit_content {
  width: 200px;
  text-align: left;
}

#signup_contact_content {
  width: 375px;
  text-align: left;
}

.landing_button_text {
  color: white;
}

#contact_link {
  color: white;
}

#contact_link a{
  width: 300px;
}

#feature-header {
  font-size: 15px;
  color: black;
}

#footer {
  height: 100px;
  vertical-align: middle;
  color: grey;
  margin-top: 0px;
  text-align: center;
  background-color: black;
  border-top:1px solid;
}

#main-heading {
  font-size: 28px;
  position:relative;
  top:100px;
}

#sub-heading {
  font-size: 24px;
  position:relative;
  top:100px;
}

#sub-heading2 {
  font-size: 16px;
  position:relative;
  top:125px;
}

#sub-heading3 {
  position:relative;
  top:500px;
  font-size: 65px;
  color: white;
}

#landing-fix {
  margin-bottom: 0px;
}

#header-btn {
  display: inline;
}

#arrow-color-fix {
  color: white;
}

.big-icon {
  font-size: 30px;
}

.small-icon {
  font-size: 20px;
}

#sign_in_link {
  color: white;
  text-decoration:underline;
  font-weight:bold;
}

.footer_text_primary a{
  color: grey;
}

#copyright{
  color: white;
  background-color: $grey900;
}

#social{
  background-color: $grey400;
}

.social_icon a{
  color: white;
  padding: 10px;
}

#heart{
  color: red;
}

.btn.btn-outline-cta1 {
  background-color: $indigo600; }
  .btn.btn-outline-cta1.btn-default {
    color: inherit;
    &:hover { background-color: $indigo700;}
    }

#landing_nav_btn_fix {
  position: relative;
  top: 10px;
}

.btn.btn-outline-cta2 {
  background-color: transparent }
  .btn.btn-outline-cta2.btn-default {
    color: inherit;
    &:hover { background-color: transparent; color: $indigo600;}
    }
.nav-hoover .navbar-nav > li > a:hover {
&:hover { color: $indigo600;}
}

#landing_back_link{
  padding-left: 50px;
  position: relative;
  top: 38px;
  color: white;
  text-decoration: none;
}

#pricing_table {
  background-color: $indigo500;
  color: white;
  height: 250px;
  width: 300px;
  box-shadow: 2px 2px grey;
}

#email_link{
  color: white;
  &:hover { color: white; }
}

.pricing-sub-text{
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 30px;
}
