#splash_page {
  height: 525px;
  vertical-align: middle;
  background-color: #3F51B5;
  color: white;
  margin-top: 0px;
  text-align: center;
}

#info-header {
  font-size: 25px;
  color: #3F51B5;
}

#benefits {
  height: 550px;
  vertical-align: middle;
  color: black;
  margin-top: 0px;
  text-align: center;
  background-color: white;
  border-top:1px solid;
}

#feature-header {
  font-size: 15px;
  color: black;
}

#testimonials {
  height: 450px;
  vertical-align: middle;
  color: black;
  margin-top: 0px;
  text-align: center;
  background-color: #F2F7FA;
  border-top:1px solid;
}

#pricing {
  height: 500px;
  vertical-align: middle;
  color: black;
  margin-top: 0px;
  text-align: center;
  background-color: white;
  border-top:1px solid;
}

#signup {
  height: 400px;
  vertical-align: middle;
  color: black;
  margin-top: 0px;
  text-align: center;
  background-color: #F2F7FA;
  border-top:1px solid;
}

#contact {
  height: 630px;
  vertical-align: middle;
  color: black;
  margin-top: 0px;
  text-align: center;
  background-color: white;
  border-top:1px solid;
}

#footer {
  height: 100px;
  vertical-align: middle;
  color: grey;
  margin-top: 0px;
  text-align: center;
  background-color: black;
  border-top:1px solid;
}

#main-heading {
  font-size: 28px;
  position:relative;
  top:100px;
}

#sub-heading {
  font-size: 24px;
  position:relative;
  top:100px;
}

#sub-heading2 {
  font-size: 16px;
  position:relative;
  top:125px;
}

#sub-heading3 {
  position:relative;
  top:500px;
  font-size: 65px;
  color: white;
}

#landing-fix {
  margin-bottom: 0px;
}

#header-btn {
  display: inline;
}

#arrow-color-fix {
  color: white;
}

.big-icon {
  font-size: 30px;
}

.small-icon {
  font-size: 20px;
}

#sign_in_link {
  color: white;
  text-decoration:underline;
  font-weight:bold;
}

.footer_text_primary a{
  color: grey;
}

#copyright{
  color: white;
  background-color: #212121;
}

#social{
  background-color: #BDBDBD;
}

.social_icon a{
  color: white;
  padding: 10px;
}


#heart{
  color: red;
}
