// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#positionsedit{
		width:400px;
		margin: auto;
}

#managepositions{
		width:400px;
		margin-left: left;
}