#userprofile {
		width:650px;
		margin-left: left;
}

#tabledata{
		width:400px;
		margin: auto;
}

#userformbutton {
		width:200px;
		margin: auto;
}

#searchbox{
		width:200px;
		margin-right: auto;
}