.edit_shift {
  cursor: pointer;
}

.shift {
min-height:30px;
cursor: pointer;
}

.shift:hover {
  background-color: #F5F5F5;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.shift:hover:before {
  font-size: 14px;
  content: attr(data-hover);
}

.my_schedule {
  height: 120px;
  text-align: center;
}

.my_time_off_bar {
  height: 40px;
  max-width: 120px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.my_time_off_bar_mobile {
  height: 20px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.my_shift_bar {
  height: 150px;
  max-width: 120px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.my_shift_bar_mobile {
  height: 60px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.close-button {
  position: relative;
  right: 2px;
  top: 2px;
}
.link-color {
  color: #CCCCCC;
}

.link-color:hover {
  color: #77777B;
  text-decoration: none;
}

#schedule_legend{
  position: relative;
  bottom: 14px;
}

.fix-schedule-time-bar {
  margin: 0px;
  margin-bottom: 2px;
}

.shift {
  height: 40px;
  vertical-align: middle;
}

.fix_ampm_button button{
  position: relative;
  bottom: 7px;
}

#availability_form{
  margin: 0px; padding: 0px;
}

#schedule_info_column {
  text-align: left;
  width: 80px;
}

.schedule_day_header{
  text-align: center;
  max-width: 110px;
  height: 80px;
}

.u-modal-repeat {
    width: 150px;
}
.repeat-checkbox {
  width: 20%;
}
