.edit_shift {
  cursor: pointer;
}

.shift {
min-height:30px;
width: 150px;
cursor: pointer;
}

/* Hide original text */
.shift:hover {

  background-color: #F5F5F5;
  color: black;
  text-align: center;
  vertical-align: middle;
}

/* Replace original text with value in data-hover */
.shift:hover:before {
  font-size: 18px;
  content: attr(data-hover);
}

.my_schedule_header {;
  text-align: center;
  min-width: 145px;
}

.my_schedule {
  height: 120px;
  width: 145px;
  text-align: center;
}

.my_time_off_bar {
  height: 40px;
  width: 145px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.my_time_off_bar_mobile {
  height: 20px;
  width: 350px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.my_shift_bar {
  height: 120px;
  width: 145px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.my_shift_bar_mobile {
  height: 40px;
  width: 350px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.close-button {
  position: relative;
  left: 15px;
  bottom: 15px;
}
.link-color {
  color: #CCCCCC;
}

.link-color:hover {
  color: #77777B;
  text-decoration: none;
}
