#userform {
  width: 600px;
  margin: auto;
}

#userformbutton {
  width: 200px;
  margin: auto;
}

#userprofile {
  width: 650px;
  margin-left: left;
}

#shift_buttons_users_profile {
  position: relative;
  right: 40px;
  bottom:20px;
}

.user_search_form{
  width: 201px;
}
