<a id='logoimage' class='float:left'>
  <img src='/images/water.png' alt='red' height='40px' width='40px'/>
</a>
<div class='hidden-xs'>
  <%= link_to 'DigiQuatics', dashboard_path, id: 'logo' %>
</div>
<div class='visible-xs'>
  <%= link_to 'DQ', dashboard_path, id: 'logo' %>
</div>
