<a id='logoimage' class='float:left'>
  <img src='/images/water.png' alt='red' height='40px' width='40px'/>
</a>
<% if signed_in? %>
  <%= link_to 'DigiQuatics', dashboard_path, id: 'logo' %>
<% end %>
