<a class='pull-right close-button link-color' ng-click='cancel()'>
  <i class='fa fa-times fa-lg'></i></a>
<div class='modal-header'>
  <h1 class='modal-title'>Request Sub</h1>
</div>

<div class='modal-body'>
  <center>
    <p>Are you sure you want to request sub for this shift?</p>
  </center>
</div>

<div class='modal-footer'>
  <a class='btn btn-success btn-block' ng-click='ok()'>
    <i class="fa fa-check fa-lg"></i> Yes</a>
  <a class='btn btn-danger btn-block' ng-click='cancel()'>
    <i class="fa fa-times fa-lg"></i> No</a>
</div>
