<div class='table-responsive'>
  <table ng-show='!!users' class='table table-hover table-condensed'>
    <thead>
      <tr>
        <th dq-user-head='Last Name' value='last_name' order='order'></th>
        <th dq-user-head='First Name' value='first_name' order='order'></th>
        <th dq-user-head='Age' value='date_of_birth' order='order'></th>
        <th>Location</th>
        <th dq-user-head='Position' value='position.name' order='order'></th>
        <th dq-user-head='Email' value='email' order='order'></th>
        <th dq-user-head='Phone' value='phone_number' order='order'></th>
        <th dq-user-head='Admin' value='admin' order='order'></th>
      </tr>
    </thead>
    <tbody>
      <tr dq-user-row='user' ng-repeat='user in users | orderBy:order.value:order.reverse | filter:locationFilter | filter:search'>
      </tr>
    </tbody>
  </table>
</div>
