<fieldset>

    <div class="col-md-11">
      <%= f.text_field :name, label: 'Pool Description' %>
    </div>

    <div class="col-md-1 remove">
      <%= f.hidden_field :_destroy %>

      <%= link_to raw('<i class="glyphicon glyphicon-remove glyphicon-2x"></i>'), '#', class: 'remove_fields' -%>
    </div>

</fieldset>
