<%= provide(:title, 'My Availability') %>
<div ng-app='digiquatics'>
  <div ng-controller='AvailabilityCtrl'>
    <h1 class='cross_platform_header'>My Availability</h1>
    <div class='hidden-sm hidden-xs'>
      <table class='table table-bordered table-white shadow-effect print-schedule-font fixed-table'>
        <thead>
          <tr>
            <th class='my_schedule_header' ng-repeat='day in days'>
              <center>{{day}}</center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat='day in days' class='td-seven-fixed'>
              <div ng-repeat='availability in availabilities
                              | orderBy:sortTime
                              | filter: { day: $index }'>
                <%= render 'availability' %>
              </div>
              <div class='add-shift';
                ng-click="open($index)"
                data-hover='Add Availability'>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='visible-sm visible-xs'>
      <table class='table table-bordered table-white shadow-effect'
             ng-repeat='day in days'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              <center>{{day}}</center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities
                             | orderBy:sortTime
                             | filter: { day: $index }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open($index)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
