<footer class='footer hidden-xs'>
  <center>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <p>&#169;2013-2014 Affektive Software Limited</p>
    </nav>
  </center>
</footer>
