<footer class='footer hidden-xs'>
  <center>
    <nav class='navbar navbar-default navbar-fixed-bottom' role='navigation'>
      <p style='color: #C0C0C0'>&#169; 2013-2014 Affektive Software LLC</p>
    </nav>
  </center>
</footer>
