<footer class='footer'>
  <center>
    <h4 class='contact'> Have a question? </h4>
    <div class='contact_body'>
      <a href="tel:303-921-8628">
        (303)-921-8628
      </a>
      <br>
      <a href="mailto:Team@DigiQuatics.com">
        Team@DigiQuatics.com
      </a>
    </div>
    <br>
  <p class='copyright'>&#169; 2013-2014 Affektive Software LLC</p>
  </center>
</footer>
