<footer class='footer' >
  <h4>Have a question?</h4>
  <%= link_to '303-921-8628', 'tel:303-921-8628' %>
  <br>
  <%= link_to 'Team@DigiQuatics.com', 'mailto:Team@DigiQuatics.com' %>
  <br><br>
  <p class='copyright'>
    <i class='fa fa-copyright'></i>
    2013-2014 Affektive Software LLC
  </p>
</footer>
