<footer class='footer'>
  <center>
    <h4 style='color: #065BA0'> Have a question? </h4>
    <div style='color: black;'>
      <a style='color: black;' href="tel:303-921-8628">
        (303)-921-8628
      </a>
      <br>
      <a style='color: black;' href="mailto:Team@DiqiQuatics.com">
        Team@DiqiQuatics.com
      </a>
    </div>
    <br>
  <p style='color: #C0C0C0'>&#169; 2013-2014 Affektive Software LLC</p>
  </center>
</footer>
