<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class = "container">
    <p class = "navbar-text pull-left">&#169;2013-2014 Affektive Software</p>
    <!-- <a href = "#" class = "navbar-btn btn-danger btn pull-right"></a> -->
  </div>
</div>
