<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://www.affektive.com/">Company</a></li>
      <li><%= link_to "Contact Us", '#' %></li>
      <li><%= link_to "Support", '#' %></li>
      <br>
      &#169; 2013 Affektive Software 
    </ul>
  </nav>
</footer>
