<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://www.affektive.com/">Company</a></li>
      <li><a href="mailto:support@affektive.com">Email Us</a> </li>
      <br>
      <p>&#169;2013 Affektive Software </p>
    </ul>
  </nav>
</footer>
