<div class='shadow-effect'>
  <div class = 'navbar navbar-default navbar-static-top'>
    <div class = 'container'>
      <button class = 'navbar-toggle' data-toggle = 'collapse'
      data-target = '.navHeaderCollapse'>
        <span class = 'icon-bar'></span>
        <span class = 'icon-bar'></span>
        <span class = 'icon-bar'></span>
      </button>

      <% if signed_in? %>
        <div class = 'collapse navbar-collapse navHeaderCollapse'>
          <%= render 'layouts/partials/desktop_links' %>
          <%= render 'layouts/partials/mobile_links' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
