<span class='nav-hoover'>
  <div class = 'navbar navbar-default navbar-static-top shadow-effect'>
    <div class = 'container'>
        <ul class = 'nav navbar-nav navbar-left hidden-xs' >
            <li><a href = '#dq_overview'>OVERVIEW</a></li>
            <li><a href = '#dq_features'>FEATURES</a></li>
            <li><a href = '#dq_benefits'>BENEFITS</a></li>
            <li><a href = '#dq_pricing'>PRICING</a></li>
            <li><a href = '#dq_sign_up'>SIGN UP</a></li>
            <li><a href = '#dq_demo'>DEMO</a></li>
            <li><a href = '#dq_contact'>CONTACT</a></li>
        </ul>
        <div class='pull-right hidden-xs hidden-sm'>
          <%= link_to 'GET STARTED TODAY', '#dq_sign_up',
                       class: 'btn btn-default btn-sm btn-outline-cta2',
                       id: 'landing_nav_btn_fix' %>
      </div>
    </div>
  </div>
</span>
