<table class='table' >
  <tbody>
    <tr>
      <th>Name</th>
      <th>Time Zone</th>
      <th>Logo</th>
      <th></th>
    </tr>
    <tr>
      <td><%= @account.name %></td>
      <td><%= @account.time_zone %></td>
      <td><%= image_tag @account.logo.url, height: '100' %></td>
      <td> <%= link_to ' Edit', edit_account_path(current_user.account_id),
        class: 'glyphicon glyphicon-pencil' %>
      </td>
    </tr>
  </tbody>
</table>
