<table class='table'>
  <tbody>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @certification_names.each do |certification_name| %>
      <tr>
        <td class='fixtablewidthadmin'><%= certification_name.name %></td>
        <td><%= link_to ' Edit', edit_certification_name_path(certification_name),
          class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to 'Delete', certification_name,
        class: 'glyphicon glyphicon-trash', method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class='new_button'>
  <%= link_to ' New', new_certification_name_path,
    class: 'glyphicon glyphicon-plus-sign' %>
</p>
