<p>
  Currently Chemical Records is setup to provide email alerts based off the
  following parameters:
  </br>
  <b> Total Chlorine (PPM): </b> <=1 or >= 5
  </br>
  <b> PH: </b> <=6.8 or >= 8.2
  </br>
  Email prefrences can be setup in the "Email Alerts" tab.
</p>
