<p>
    All data can be exported to a CSV file that is compatiable with any
    version of Microsoft Excel or other popular spreadsheet suites.
</p>

<br>

<div class ='row'>
  <div class='col-md-3'>
    <a class='btn btn-success btn-default' href='#'>
      Certifications <i class='fa fa-file-excel-o fa-lg'></i></a>
  </div>
  <div class='visible-xs'><br></div>
  <div class='col-md-3'>
    <a class='btn btn-success btn-default' href='/chemical_records.csv'>
      Chemical Records <i class='fa fa-file-excel-o fa-lg'></i></a>
  </div>
</div>

<br>

<div class ='row'>
  <div class='col-md-3'>
    <a class='btn btn-success btn-default' href='/users.csv'>
      Active Employees <i class='fa fa-file-excel-o fa-lg'></i></a>
  </div>
  <div class='visible-xs'><br></div>
  <div class='col-md-3'>
    <a class='btn btn-success btn-default' href='/inactive_index.csv'>
       Inactive Employees <i class='fa fa-file-excel-o fa-lg'></i></a>
  </div>
</div>

<br>
