<div class ="row">
	<div class="col-md-3">
		<%= link_to "All User Data", certifications_path(format: "csv"), 
			class: "btn btn-danger btn-sm" %>
  </div>
  	<div class="col-md-3">
  		<%= link_to "Attendance Data", certifications_path(format: "csv"), 
  			class: "btn btn-danger btn-sm" %>
    </div>
	<div class="col-md-3">
		<%= link_to "Chemical Records Data", certifications_path(format: "csv"), 
			class: "btn btn-danger btn-sm" %>
  </div>
	<div class="col-md-3">
		<%= link_to "Private Lessons Data", certifications_path(format: "csv"), 
			class: "btn btn-danger btn-sm" %>
  </div>
</div>
